[2015-10-08 20:11] mcowger opened #1 "Some operations should not require authentication"
For example, I have a couple shared OneDrive folders that are available totally anonymously through the web interface (example: http://1drv.ms/1FWwXAk) that i'd love to access via this SDK....but if I have to authenticate thats a problem....

Thoughts?

[2015-10-09 00:22] graingert opened #2 "support universal wheels"

[2015-10-09 16:43] cdmayer commented on #2
Ack. We want to make sure this works with our installation logic.

[2015-10-09 17:20] rgregg commented on #1
Our API doesn't provide this functionality yet, but it's on our radar. When the API has this support, the SDK will be updated to support it as well.

[2015-10-09 21:49] raingo opened #4 "bug in uploading"
In the line: https://github.com/OneDrive/onedrive-sdk-python/blob/master/src/python2/request/item_request_builder.py#L106

the `put` function should be `upload`, otherwise the uploading would fail on the example
`returned_item = client.item(drive="me", id="root").children["newfile.txt"].upload("./path_to_file.txt")`

[2015-10-09 22:02] aclev commented on #4
Hey @raingo Thanks for finding the bug! I'll look into getting it fixed.

[2015-10-13 17:06] #4 closed, assigned to cdmayer

[2015-10-16 14:29] thomasjetzinger opened #8 "authentication on raspberry pi"
I want to use the new onedrive-sdk with my raspberry pi running raspbian, but i have problems to acquire the authentication code.
As we can see in the source code the authenticater uses the `webbrowser.open` command to get the authentication code, so i tried to install Lynx to get this command working,
But each time my program calls `GetAuthCodeServer.get_auth_code(auth_url, redirect_uri)`, the fo

[2015-10-16 16:34] cdmayer commented on #8
Hello Thomas,

The `GetAuthCodeServer` module does assume that there is a usable browser. It is definitely possible to use the SDK with a Raspberry Pi, but since the screen is so small you'll have to do a bit more work. It is not possible at this time to do initial app authorization without a browser. Here's how I would work around that.
1. Use the script below on a computer with a web browser to

[2015-10-16 16:45] cdmayer commented on #8
PS the `redirect_uri` you use in the initial auth and on your Pi must match or the auth code won't work.

[2015-10-17 02:41] kevinsul commented on #8
So complete newbie here...  Messing with an RPi and simply wish to upload a few files via Python script.  I was able to get some of the above working, howeer, it seems that when I issue the 'code = client.auth_provider...' command in my script, it fires up my default browser on the RPi (Epiphany) and shows me the code embedded in the URL, but then freezed execution of my script there.  If I am qui

[2015-10-19 15:07] thomasjetzinger commented on #8
Thanks for your reply...
Authentication via another system which includes a full web browser works, but i have problems to load the stored session:
Each time I call `client.auth_provider.load_session()` the following exception is raised:
`unbound method load_session() must be called with Session instance as first argument (got nothing instead)`.
Is there problem with python 2.7? How can i get this

[2015-10-19 17:18] cdmayer commented on #8
How did you create your client? Did you use the extension method `get_default_client()`? It seems like something isn't initialized. It shouldn't be a Python 2-specific error because this uses the same code as Python 3.

[2015-10-19 17:27] cdmayer commented on #8
Kevin, I would not recommend that you use the `GetAuthCodeServer` module on a Pi at all. That module was designed for a debugging/testing on a richer environment like Windows or Mac OS. It relies on spinning up a webserver on another thread, then executing an HTTP request on the current thread, then killing other thread. That module hasn't been tested on a Pi so I can't recommend it.

Like I recom

[2015-10-19 19:15] thomasjetzinger commented on #8
Yes, i use the method `get_default_client` like in the following code snippet:

[code]

The exception occurs in the following method:
![image](https://cloud.githubusercontent.com/assets/1818920/10588379/1768aa36-76a6-11e5-9d74-72b68dfee684.png)

[2015-10-19 20:01] cdmayer commented on #8
I stand corrected. It does appear to be a Python 2 issue. I have identified the fix, which I'll bring in soon. Until then, can you make this small change and see if it works? Open the following file: `%Python27dir%\Lib\site-packages\onedrivesdk\session.py` then add the following decorator:

[code]

Please try that again and let me know if it works or not. It worked for me.

[2015-10-20 08:43] thomasjetzinger commented on #8
Now it works! When will you provide the new python package?

[2015-10-21 15:33] #8 closed, assigned to nobody

[2015-11-18 22:52] #1 closed, assigned to nobody

[2015-12-30 17:00] szepeviktor opened #13 "CLI tool"
Do you plan to provide a CLI tool that implement all/most SDK features?

[2016-01-04 15:50] cdmayer commented on #13
You're in luck! If you take a look at [the examples directory](https://github.com/OneDrive/onedrive-sdk-python/tree/master/examples) you can see that we have already partially implemented such a tool as an example in how to use the SDK. If it's missing any features you would expect, feel free to submit a PR!

[2016-01-04 15:50] #13 closed, assigned to nobody

[2016-01-04 15:54] szepeviktor commented on #13
Thank you.

[2016-01-06 17:00] cdmayer opened #15 "Clearer errors when a field is required"
[code]

Gives a boneheaded stack trace:

[code]

It's because `create_session()` actually requires an `Item`. This probably shows up in other places too. Make sure that is clear by throwing an error when an `Item` is not provided.

[2016-01-14 21:33] ryanccarter opened #16 "OneDrive for business?"
Does this SDK support OneDrive for business?

Thanks.

[2016-01-14 21:54] cdmayer commented on #16
We're in Beta support for OneDrive for Business. Really, the main thing you have to change is the `base_url` when you create your `OneDriveClient` object. Here's the section from the (OneDrive API docs)[https://dev.onedrive.com/README.htm]:

So you just need to know your tenant prefix, substitute it into the URL above, then give that to the `OneDriveClient` constructor as the `base_url`.

After th

[2016-01-14 22:05] ryanccarter commented on #16
Thanks a lot for the quick reply. I will give that a try.

[2016-01-14 22:05] #16 closed, assigned to nobody

[2016-01-26 07:41] rwecho opened #17 "unbound method load_session()"
[code]

Gives an error:

[code]

the auth_provider's load_session funtion :

[code]

I don't know how to reslove it.
please help me .

[2016-01-26 15:36] cdmayer commented on #17
This sounds like a bug that I already fixed! In the line above `load_session(...)` do you have the decorator `@staticmethod`? If not, then you may have a slightly dated version of the SDK. Unfortunately, it looks like that bug fix didn't make it into the latest release. There is a new release coming soon that will include this bug fix, but until then you can reference the instructions below on how

[2016-01-26 15:36] #17 closed, assigned to nobody

[2016-01-27 00:22] rwecho commented on #17
thank you,It  works now.

[2016-02-05 15:12] Anadorr opened #19 "Non-default redirect uri does not work"
Calling GetAuthCodeServer.get_auth_code(auth_url, redirect_uri) with non-default redirect uri (e.g. http://localhost:8081) does not work.
This makes sdk unusable when there's already an application listening to port 8080 (like a webserver).

[2016-02-05 15:49] #19 closed, assigned to nobody

[2016-02-24 11:22] Stullemon opened #21 "Exception on last_modified_date_time"
Hi,

I have been using a backup script which used the live_api used in an older version of onedrive-d. Using this script, I uploaded all the files in a specific folder.

I am in the process of updating this script of mine to work use onedrivesdk. However, I noticed that the sdk has some issues when I try to check the last_modified_date_time of the files I have already uploaded. The traceback looks

[2016-02-24 14:38] Stullemon opened #22 "Exception on paging through selection"
I am still working on my backup script (see #21 ). As one would expect, I am recursively looping through the various directories in the directory structure (rather deep structures, up to approx. 10 levels with between 1 and a couple of hundred files per directory). Now, I ran into an issue where I am trying to get a collection page and the json decoder throws an exception. Some more trial and erro

[2016-02-24 17:21] cdmayer commented on #22
It's hard to debug with the information you have here. Can you do me a favor and follow these steps?
- Open F:\Software\WinPython\python-3.4.3.amd64\Lib\site-packages\onedrivesdk\http_provider.py
- In `send` add these new lines:

[code]
- Re-run your code
- Send me the info printed to your console.

This should give me some more insight into the issue. Afterwords, you can delete the added lines so

[2016-02-25 07:04] Stullemon commented on #22
Hey Chris,

I messed up at first and forgot the "new_headers = dict(headers)" line, so I replaced "new_headers" with "headers" in the following lines. I.e.:

[code]

After a number of successful listings, this yielded another error, just as yesterday. Note, I was using Spyder's debugging mode to be made aware when the issue occurred. This is the log (both first and second attempt to list directory

[2016-02-25 07:28] Stullemon opened #23 "Request: Upload function using data instead of path"
Hey Microsoft,

I am looking into uploading entire zip-files from local folders created just in time. I can obviously write a temporary file, upload it and then delete it again. However, this is associated with some IO lag and puts some stress on the drive. Something which I would like to avoid when executing my python script on a portable flash drive or a rather slow HDD (possibly further slowed

[2016-02-25 17:12] cdmayer commented on #21
Fixed in #24

[2016-02-25 17:12] #21 closed, assigned to cdmayer

[2016-03-02 18:16] cdmayer commented on #22
Hello Stulle,
I looked over your code a few times and I can't peg the issue from the information you gave me here. I did notice, though, that your method for paging through the children collection isn't the recommended way. Check out "[Paging Through a Collection](https://github.com/OneDrive/onedrive-sdk-python#paging-through-a-collection)" in the Readme. Specifically, you should be using `collect

[2016-03-07 17:56] Stullemon commented on #22
Hey Chris,

I am a bit uncertain. I understood the sample in the way that I should use the last collection (page) to get next collection (page). That would be in pseudo-code: `collection{n} = collection{n-1}.next_page_request.get()`.

Are you suggesting it is actually `collection{n} = collection{0}.next_page_request.get()`?

I will be sure to try a more recent version of the SDK as soon as I get t

[2016-03-07 17:59] cdmayer commented on #22
What you have in the most recent comment is correct. I must have misread your code.

[2016-03-08 16:24] Stullemon commented on #22
Hi Chris,

just to let you know: It happened again on a directory/folder with only one page (less than 200 items) and then again twice in a directory with 433 files. I previously downloaded the most recent master of the SDK.

Prolly one more note: I am using a Windows machine and WinPython 3.4.3.xQt5 (I'd say it's 3.4.3.5 but I cannot be 100 % certain). I'll try getting a more recent version and k

[2016-03-08 17:52] Stullemon commented on #22
Hi again,

So... using a more recent version did not change a thing. WinPython-64bit-3.4.4.1Qt5 also produced an exception on a directory with one page (less than 200 items). I vote for a server- or connection-based error.

Is there anything else I can do to help you guys at Microsoft (not just in the python SDK but also elsewhere) to resolve the issue?

Regards,
Stulle

[2016-03-08 18:28] cdmayer commented on #22
Yes, there is. I think we need more information about what's going on here. Please follow these steps:
1.  Login to your OneDrive
2.  Go to https://storage.live.com/traceme
3.  Select both the checkboxes in the "AutoFiddler" column
4.  Click on "Start a new trace..." in both rows
5.  Wait for about 1 minute
6.  Retry the scenario until you get the error
7.  Copy all the information in the table an

[2016-03-09 08:32] Stullemon commented on #22
Hi Chris,

I did like you asked. Here is the information:

[code]

I started the script on 2016-03-09T09:07:38.897408 (all time stamps are CET) The error occurred between 2016-03-09T09:14:44.048376 and 2016-03-09T09:15:11.006261. The successful retry was completed on 2016-03-09T09:15:17.392586. The path in my drive is `root\Dokumente\{Some Abbreviation}\Literatur\Conference.Proceedings\ASIM_SPL200

[2016-03-09 10:39] Stullemon commented on #23
I just noticed, this might actually relate to #14

[2016-03-09 19:03] cdmayer commented on #22
I looked through your call information. None of the calls appear to fail on the server, and their responses are valid. Something else must be at play here.

I would like to get more information about what you're getting back from the server. Please follow these steps:
- In the same `HttpProvider` file, please add this line in `send`:

[code]
- Make sure you also have the lines that gave you before

[2016-03-09 22:15] jjbrink opened #26 "OneDrive for Business / list exception KeyError: 'value'"
following the instructions in issue #16 i'm attempting to connect to onedrive for business and list the items in the root, but get an exception when attempting the list. is there something i'm doing incorrectly?

[code]

[2016-03-09 22:32] cdmayer commented on #26
What you have here looks pretty good. The error you're getting might not be specific to the Python SDK. I would recommend trying to do the same request using just the REST API over HTTP, just to make sure that you have a baseline. If you don't have Fiddler already, download [Fiddler](http://www.telerik.com/fiddler) and use the Composer to execute the same requests. Basically, you'll need to authen

[2016-03-10 00:21] jjbrink commented on #26
thank you for the quick reply -- you're right, it's failing at the API level too. it looks like an issue with converged authentication and onedrive for business APIs, will be digging more our end. thanks!

[2016-03-10 00:21] #26 closed, assigned to nobody

[2016-03-11 08:20] Stullemon commented on #22
Hey Chris,

Never mind the effort this takes. I am happy as long as I can help improve things. So, here you go. First my logging:

[code]

Now yours:

[code]

I noticed the "Proxy_GetResponse_ConnectFailure"... So I have been trying this from my workstation in the office (which connects through a local proxy) and my private laptop connected to my company network through a Cisco AnyConnect VPN conn

[2016-03-11 22:15] cdmayer commented on #22
Well, I have good news and bad news, depending on how you interpret it. Good news: we have narrowed down the source of the issue. It's our problem, not yours. Bad news: there's nothing you can do right now to make it better; you'll have to wait for us to fix it. Good news: you should be able to just retry the request and see it succeed. I would recommend adding targeted retry logic until we have f

[2016-03-12 10:39] Stullemon commented on #22
Hey Chris,

Thank you for the feedback. I'm glad you guys finally found the error. Just let me know as soon as you need more testing, I'll be sure to give it a shot ASAP. Anyhow, judging from your reply - I reckon this is prolly going to take a wee bit. :-)

Regards,
Stulle

[2016-03-25 17:11] ncw opened #27 "File size corruption issue on uploaded files"
[ **NB** I've put the files from this report in [a gist](https://gist.github.com/ncw/1beadd7258ca87a6ca55)  which you may find easier to use.]

To reproduce, run the python program `onedrive_bug.py`.  This needs the python onedrivesdk. This uploades the file `goof.png` repeatedly, to the root of your onedrive as `1.png`, `2.png`, etc.

If you run it after a while you'll see a size mis-match.

This

[2016-03-28 16:20] cdmayer commented on #27
Indeed, this is the same bug that you linked to in #399 in the OneDrive repo. This is expected behavior for now. The fact that you're only reproducing the bug sometimes is due to the fact that thumbnails are generated async, so sometimes you're getting back the thumbnail size (yielding a larger file size) and sometimes you're getting back the original size. Either way, this is not a bug in the Pyt

[2016-03-28 16:20] #27 closed, assigned to nobody

[2016-03-31 20:26] labreu opened #28 "Authentication"
Should I change this parameter to use the code?

"http://localhost:8080/"

problem solved..

[2016-03-31 20:50] #28 closed, assigned to nobody

[2016-04-03 22:02] ShaneC opened #29 "Need more detailed error on unexpected redirect_uri"
When executing the authentication sample code in /README.md, the following error is thrown when a redirect_uri is specified which doesn't contain a port:

`Traceback (most recent call last):
  File "C:\<FilePath>\Script.py", line 15, in <module>
    code = GetAuthCodeServer.get_auth_code(auth_url, redirect_uri)
  File "C:\Program Files (x86)\Python35-32\lib\site-packages\onedrivesdk\helpers\GetAut

[2016-04-04 17:22] RaspiRepo commented on #8
Getting authentication access from onedrive without browser interaction can be done with Web driver phantomjs and Selenium.  This allows to paring HTML response page from one page and authenticate, programmatically.   This allows no user input like type username, password and give authorization.
Here is the python code to do same on Raspberry PI.

To install phantomjs webdriver (for headlness node

[2016-04-04 17:45] cdmayer commented on #8
This is definitely interesting. It basically pretends to be a web browser and submits the form. It's fragile, but then anything like this will tend to be fragile.

If you submit a pull request with this code we can work on getting it merged into the main package! I would start with a new file in the [/helpers](https://github.com/OneDrive/onedrive-sdk-python/tree/master/src/onedrivesdk/helpers) dir

[2016-04-04 18:59] RaspiRepo commented on #8
Hi Chris,
Thanks for feedback.  Yes I agree that its fragile as any time web forms filed (custom names) changes need track the HTML form fields.  I am new to GitHub but I will try to pull request and submit entire code back.

I written this method for Raspberry PI project to capture picture/Video (surveillance as just outdoor view) when motion detected and upload to One Drive 24/7.  Since Raspberr

[2016-04-04 20:52] #29 closed, assigned to nobody

[2016-04-04 20:53] cdmayer commented on #29
Hey Shane, Thanks for leaving your comment. The docstring does have this outtake:
`redirect_uri (str): Redirect URI, as set for the app. Should be
            something like "http://localhost:8080" for this to work.`

I went ahead and fixed it up in Master so that not providing a port defaults to port 80.

[2016-04-12 03:00] Darkvater commented on #27
Hi, I'm the original reporter for rclone and have one outstanding question having read through all replies on this matter. As this is caused by a bug in OneDrive due to thumbnail file generation and stream selection it is impossible to verify the upload integrity through the API. Okay, I understand.

But how are uploads verified through the browser upload, the windows or android onedrive client? A

[2016-04-12 17:27] rgregg commented on #27
TCP error recovery takes care of most of the validation that bytes put into the stream on one side of the connection are received on the other end. If you want to validate that the server copy of the file is identical to the file you started with, the only sure way to do that is to hash the local file, and then retrieve the hash the server calculated for the file from the [hashes facet](https://de

[2016-05-24 20:36] ilmaisin commented on #16
Sorry if I am asking dumb questions, but if I want to adapt, say, `CommandLineFileExplorer.py` to use OneDrive for Business, how can I do it? I even tried to change `base_url` globally from `onedrivesdk_helper.py` and recompiled it, but it had no effect: it just pointed me to consumer OneDrive's authentication page.

[2016-05-24 21:13] cdmayer commented on #16
Please take a look at the StackOverflow thread about this: http://stackoverflow.com/questions/37233669/onedrive-api-python-sdk-points-to-login-live-com-not-mydomain-sharepoint-com/37244587?noredirect=1#comment62021706_37244587

If you still have questions after that, let me know!

[2016-06-05 10:50] ilmaisin commented on #16
I tried those suggestions in the URL, but still can't get it right. Could you point me where is the problem in this code? It keeps redirecting me to the consumer login page, not my school's login page.

[code]

[2016-06-06 02:53] vikasgupta1812 opened #32 "Request: Add example to upload large files to onedrive"
Please add an example to upload large files to onedrive.

[2016-06-06 16:56] cdmayer commented on #16
First off, do this RIGHT NOW: edit your comment and remove your `client_secret`! You are letting anyone on GitHub pretend they are your app. Protect your secret the same way you would protect your password to your Microsoft account.

You are creating `AUTH_SERVER_URL` & `AUTH_TOKEN_URL` in the local context instead of setting them in the class. At the top of your `main()` function change these lin

[2016-06-06 17:01] cdmayer commented on #16
You can get further information about AAD authentication on OneDrive here: https://dev.onedrive.com/auth/aad_oauth.htm.

[2016-06-06 18:05] ilmaisin commented on #16
I edited the message and removed the client secret. It does not seem to be authenticated anywhere, but it doesn't hurt to be sure. The client secrets could also be removed from the example files in here Github, since if someone runs them, security can get compromised.

Now it redirects to the correct page, but still seems to not work just right, but outputs "Bad request" errors. If i am logged out

[2016-06-06 18:40] cdmayer commented on #16
It sounds like your app has not been registered with your ODB tenant. You can read more here: https://dev.onedrive.com/app-registration.htm#register-your-app-for-onedrive-for-business.

[2016-06-10 14:47] dmasson opened #33 "Does not allow to authenticate business accounts"
By using the authentication example, I'm able to authenticate/authorize the client using personal account credentials, but, using business credentials, I get from the auth page a message saying that the account doesn't exist, therefore I cant authorize the client.

The use case that I need to implement is for business accounts

[2016-06-10 16:06] cdmayer commented on #33
Check out this other issue regarding the same: https://github.com/OneDrive/onedrive-sdk-python/issues/16

[2016-06-10 16:06] #33 closed, assigned to nobody

[2016-06-10 16:55] dmasson commented on #33
Thank you !

[2016-06-10 19:20] dmasson commented on #16
Hello , .. following @cdmayer 's instructions I was wable to authenticate , .. now I'm stuck in the authenticate method , .. I'm getting invalid_resource error, here's the example source code, and the terminal output:

[code]

Terminal output: (I added a couple of prints to the http_response.py to see the complete response):

[code]

[2016-06-10 19:47] cdmayer commented on #16
Your url's are incorrect. You should have the following:

[code]

[2016-06-10 19:56] dmasson commented on #16
Hi , .. i just changed the URLs as suggested, getting the same error, here's more info, I hardcoded the a "resource" key in the authenticate method:

[code]

the output had no errors:

[code]

What do you think ?

BTW, thanks for your quick reply !

[2016-06-10 20:24] dmasson commented on #16
UPDATE: I kept the workaround above, and managed to upload a file to my OneDrive business account by hardcoding the API endpoint URL in extensions/onedrivesdk_helper.py at the return statement as follows:

[code]

So, it's running, I guess I need clean solution instead of hardcoding

UPDATE:  @ilmaisin is not using the default client, thats the clean way

[2016-06-10 20:43] cdmayer commented on #16
Not sure if you already figured this out, but you shouldn't be using `get_default_client()`. That method is targeted at signing into a Microsoft account (instead of Azure AD). Try something like this:

[code]

[2016-06-10 20:47] dmasson commented on #16
yes I figured it out, too late !, thanks !

[2016-06-20 17:53] cdmayer commented on #32
I have added large file support by default to Python 3.4+. Upgrade to the latest version using `pip install onedrivesdk`. You should be at version 1.0.7 or later.

By default, `upload_async()` will use a chunked upload scheme, uploading a few MB at a time.

[code]

Let me know if this leaves you with any questions.

[2016-06-20 17:53] #32 closed, assigned to nobody

[2016-06-28 18:13] cdmayer commented on #22
Closing because the issue isn't really what's in the title. Also, this isn't an issue with the Python SDK. If this is still occurring, open a similar issue in the [OneDrive API Docs](https://github.com/OneDrive/onedrive-api-docs) repo.

[2016-06-28 18:13] #22 closed, assigned to nobody

[2016-06-28 18:48] NotaLabs opened #37 "Add support for query parameters (expand, filter, sort, etc.)"
I was wondering how i could use the parameters listed [here](https://dev.onedrive.com/odata/optional-query-parameters.htm), when requesting child items.
I can`t seem to get the syntax right, when trying to get the results sorted by "lastmodifieddateTime".
Example source code would be appreciated.

`collection = client.item(drive="me", id="5A49630B8FC52EAA!109").children.request( >> ? <<).get()`

[2016-06-28 20:04] cdmayer commented on #37
The reason you can't get it right is because that's not currently supported. Sorry! That's on the list of things to do next.

If you would like I can detail a general approach for writing your own `RequestBuilder` to accomplish this if you think you will need it.

[2016-06-28 20:56] NotaLabs commented on #37
Thank for your fast answer.
It would be great if you could indicate this fact somewhere, so everyone would know that this feature is not yet avaible.

And thanks for offering help, but i think i will look into the REST API and then try to create a python programm for my purposes on my own.

[2016-06-28 22:26] diman82 opened #38 "Authentication error"
Hi,

I get the following error message:
https://login.live.com/err.srf?lc=1033#error=unauthorized_client&error_description=The+client+does+not+exist.+If+you+are+the+application+developer%2c+configure+a+new+application+through+the+application+management+site+at+https://manage.dev.live.com/.

This is my configuration in https://apps.dev.microsoft.com
![onedrive_auth_problem](https://cloud.githubuser

[2016-06-29 15:52] cdmayer commented on #38
Can you show the code you're using to get this error? Make sure to remove client secret information.

[2016-06-29 16:47] diman82 commented on #38
import onedrivesdk
from onedrivesdk.helpers import GetAuthCodeServer

redirect_uri = "http://localhost:8080/"
client_secret = "[redacted]"

client = onedrivesdk.get_default_client(client_id='your_client_id',
                                        scopes=['wl.signin',
                                                'wl.offline_access',
                                                'onedrive.read

[2016-06-29 16:55] cdmayer commented on #38
In this line:

[code]

you need to replace the fake string `'your_client_id'` with your actual client ID. Try this:

[code]

Additionally, your `redirect_uri`s do not match. You need to either update the RedirectURI on your app registration page (the page you screenshot), or you need to update the `redirect_uri` variable to match what's on your app registration page.

[2016-06-29 16:55] #38 closed, assigned to nobody

[2016-07-02 21:50] hannesloots opened #39 "Getting permission denied when trying download function"
Thanks so much for the python library. It is amazing!!!

This is probably just a user error from my side not knowing how to use the sdk correctly. I would like to use the delta function with the download function to sync the files from OneDrive to local folder. One way sync only to do some calculations and then upload one summary file back to onedrive.

I have started playing with the sdk and can

[2016-07-03 12:38] hannesloots commented on #39
My apologies. It was a problem on my side. I was not aware that I need to specify the destination file name as well.

[2016-07-03 12:38] #39 closed, assigned to nobody

[2016-07-17 20:21] ksp1717 opened #40 "Authentication Problem"
HI
I am trying to build a onedrive ubuntu app using python sdk, but the authentication process is giving me some problems.
I am trying to run the example CommandLineFileExplorer.py script with my own client_id and client_secret.

I registered my app and used the application_id for 'client_id' and password for 'client_secret'. When I try to get the code by authentication, I only get a message sayin

[2016-07-18 01:14] kaifeng-h commented on #40
Redirect URL should also be added in your own app. Did you miss this option in your app config?

[2016-07-18 02:23] ksp1717 commented on #40
This is what I have in my app code. I have also attached the app registration page from microsoft app dev page.
![screenshot from 2016-07-17 21-17-00](https://cloud.githubusercontent.com/assets/16392966/16904953/749224e6-4c64-11e6-9be1-99e3dd23d87d.png)

`#code starts here

[code]

[2016-07-18 02:36] kaifeng-h commented on #40
click **add platform** button, add web platform and you should see a redirect uri option. By the way, I don't know the difference between My Application and Live SDK app. I guess both will work. If not, try applying a Live SDK App.

[2016-07-18 02:46] ksp1717 commented on #40
Thanks you MiniYellow. Adding the platform fixed it.

Also I checked LiveSDK app and it lead me to the same My Application. I think microsoft has integrated multiple things into one authentication system.

[2016-07-18 02:47] #40 closed, assigned to nobody

[2016-07-27 22:49] diman82 opened #41 "Authentication without needing a web browser"
I'm running onedrive-sdk for python on an embedded device, and I get the following error message:

[code]

That is after I've manually added 'webbrowser.py' to lib dir, otherwise I get a module not found exception.

If I get the code from a PC, by running the auth process provided in an example, I get the following error:

[code]

Please add support for manual auth (done on a PC) , like in python-

[2016-07-28 15:46] cdmayer commented on #41
Actually there is already support for what you want! You can authenticate without the help of the `GetAuthCodeServer` class. Something like this:

[code]

That should do it without any dependencies... except of course that you need a browser, which segues into your first issue. Running on an embedded device is a bit more complicated because Microsoft Account OAuth requires clients to have Javascri

[2016-07-28 21:40] diman82 commented on #41
Confirm this solution/workaround works.

P.S Browser is not an issue (even though I'm working on an embedded device - ARM7 router), since I'm under the same WAN IP for both my embedded device and a PC, so I simply copy paste between PC & SSH terminal, but thanks for the reference anyway.

[2016-07-28 21:46] cdmayer commented on #41
Glad to hear that worked for you. I'm going to close the issue - please reopen if you have any other problems.

[2016-07-28 21:46] #41 closed, assigned to nobody

[2016-07-28 21:56] diman82 commented on #41
Just one more quick question:
Is it possible, to (auto) export a refresh token, so that the SDK will auto find it (or manually load it upon run) to skip the auth process for each & every run? I think this feature existed in the old API..

[2016-07-28 22:13] diman82 opened #42 "ConnectionResetError: [WinError 10054] upon uploading large file"
I'm trying to upload a 800mb file, and I get the following error message:

[code]

I guess this error is probably due to a limit of the uploaded file size (100mb)?
If so, it would be nice if the SDK checks the file size prior to uploading, and breaks it to chunks, or notifies, or this feature is already implemented?

[2016-07-28 22:19] diman82 commented on #42
#14 Just found this, though a practical usage example would be welcomed.

[2016-07-28 22:22] cdmayer commented on #42
Use `upload_aysnc` and your problems will be solved.

[2016-07-28 22:30] cdmayer commented on #41
Yes, that's what the [Session](https://github.com/OneDrive/onedrive-sdk-python/blob/master/src/onedrivesdk/session.py) object is for. The implementation in the SDK is really a demonstration, and not very secure (basically stores everything in plain text). It's recommended that you implement the `SessionBase` class with a more secure scheme. Anyhow, once you've done that, the pattern is easy.

[cod

[2016-07-28 22:34] diman82 commented on #42
I get 'invalidRequest - API not found' error:

[code]

My code (after successful auth):

[code]

[2016-07-28 23:07] diman82 commented on #41
Yes it works.
Thanks for 'plain text' warning!
You may close the issue.

[2016-07-28 23:26] cdmayer commented on #42
Are you sure that the item ID you inserted is a folder? The error you're getting is usually from that.

[2016-07-28 23:32] diman82 commented on #42
Absolutely:
![image](https://cloud.githubusercontent.com/assets/17273166/17232937/82f79a2e-5534-11e6-9da5-7974e64a6b78.png)

Besides, if I've only changed from upload (which works fine) to upload_async, all the other details remained the same.

[2016-07-29 16:27] clarktlaugh opened #43 "Authentication on non-GUI system (no web browser)"
I saw issue #8 regarding a workaround for authentication that requires running a script on another system first.

I, too, am experiencing the same problem.  I have a Linux system with no GUI -- only links / w3m installed, and Microsoft login is failing because my browser doesn't support Javascript.

Would doing something similar to what Google's python API / oauth2client (https://github.com/google

[2016-07-29 16:45] cdmayer commented on #43
Almost your exact question was answered recently in #41. Please let me know if that leaves you with any other questions!

[2016-07-29 16:45] #43 closed, assigned to nobody

[2016-07-29 16:46] clarktlaugh commented on #43
I haven't made a very polished fix yet, but by changing just a few lines in GetAuthCodeServer.py, I can get the same basic behavior to work:

Instead of opening a web browser, display the URL that the user needs to browse to, then prompt for the code to be entered:

[code]

Don't wait here, as the raw_input() call blocks:

[code]

[2016-07-29 16:46] clarktlaugh commented on #43
Sorry - I saw your comment after I posted my last comment.  I'll take a look.

[2016-07-29 16:47] clarktlaugh commented on #43
I'll try, but I think that will work -- thank you

[2016-07-29 17:07] cdmayer commented on #42
Do you have version 1.0.7 installed? The previous version of the SDK did not support files >100mb.

[2016-07-29 18:18] diman82 commented on #42
Yes, I've just rechecked this. Reinstalled in any case:

[code]

Also tried running the script on another device, same error. Clueless.

[2016-07-29 18:38] cdmayer commented on #42
I guess we need to debug. Can you add this line to `HttpProvider.send()` right before the `return` statement?

[code]

Run your request and send me back the output. You may want to remove the 'Authorization' header from your comment so no one sees your access token.

[2016-07-29 18:45] clarktlaugh opened #44 "Question: How do I interact with (get contents, upload to, etc) a shared folder?"
I can call client.item(id="root").children.get() to get the contents of my drive, which includes folders that have been shared with me.  When I try to enumerate the contents of that shared folder, it has no children.  What is the correct way to access a shared folder?

[2016-07-30 11:45] diman82 commented on #42
I've added also the print of 'custom_response' object.

[code]

NON-WORKING 'upload_async' (small file of 1MB):

[code]

WORKING 'upload' (small file of 1MB):

[code]

NON-WORKING 'upload_async' (big file of 130MB):

[code]

NON-WORKING 'upload' (big file of 130MB):

[code]

[2016-08-01 17:18] cdmayer commented on #42
OK a few things:
- The small-file `upload_async` bug has been fixed in 1.0.8. You should be able to use `pip install onedrivesdk --upgrade` to fix that.
- Using `upload` on a file larger than 100MB will never work.
- When you send the request before printing, the exception gets thrown before you have a chance to print the request information. Please move the debugging print statement to be ABOVE t

[2016-08-01 21:27] diman82 commented on #42
OK, I've upgraded to 1.0.8, now I get a different error

[code]

[2016-08-01 21:35] cdmayer commented on #42
Did you change the location of the debug statement? I still can't see the request information.

Although it's unlikely to be the problem, Python 3.6 is not supported at this time since it's in alpha. Could you please switch to the latest 3.5 release? This is tested to be working in 3.5 so at this point the issue is _probably_ not with the SDK.

[2016-08-01 21:53] diman82 commented on #42
OK, so I installed Python 3.5 and still get the same error, also I get the very same on my embedded device (ARM7 Netgear R7000):

[code]

Yes, I've put the debug statement where you requested, but I think you won't see it, because the script fails beforehand, in the if-else statement, so I've added the debug statement a little before, like this:

[code]

This is the output:

[code]

I think Onedri

[2016-08-01 21:57] diman82 commented on #42
BTW, I get this **ValueError: Invalid header value** exception also for an 'upload' method or getting top three elements of root (actually for everything), so maybe it'll be proper to close this issue and open a new one?

[2016-08-01 22:09] cdmayer commented on #42
Looks like GH added a line break even though there wasn't one in the editor. That's what I get for committing a change using the Github online editor.

Uploaded version 1.0.9 to PyPi. Please give that a shot. Thanks for your patience.

[2016-08-01 22:20] diman82 commented on #42
No problem, I'm glad to help investigating this issue.
**Sadly, back to the primal error**:

[code]

[2016-08-02 15:42] cdmayer commented on #42
I believe I see the issue. The underlying problem is that you are mixing path- and resource-based access together. You can read more here: https://dev.onedrive.com/items/upload_post.htm

To fix, I would recommend that you use the path to your target file, something like this:

[code]

Let me know if that works for you.

[2016-08-02 18:40] diman82 commented on #42
I didn't understand much from dev.onedrive.com documentation, but you've identified the problem properly!

So, this variations work:
client.item(drive="me", path="/RoyalTSInstaller.msi").upload_async("./RoyalTSInstaller.msi")
client.item(drive="me", path="Uploaded/test1.mp3").upload_async("./test1.mp3")

Thanks!

[2016-08-02 18:40] #42 closed, assigned to nobody

[2016-08-18 19:21] clarktlaugh opened #45 "Setter and getter on datetime properties are inconsistent"
I have some code where I am trying to modify the last_modified_time on item.file_system_info so I can preserve the timestamp of the original data I'm uploading.

The problem can be demonstrated without even uploading the file:

I'm using the following code to create the Item I was going to use to patch the uploaded file with:
   fsi = onedrivesdk.FileSystemInfo()
   fsi.last_modified_date_time = d

[2016-08-18 19:31] cdmayer commented on #45
Actually, modifying `last_modified_time` is not possible. You can see it's read-only in the API docs: https://dev.onedrive.com/resources/item.htm.

Still, this is a bug for other datetime operations.

[2016-08-18 19:42] clarktlaugh commented on #45
I saw a post / article somewhere that said it was possible now.  I read it yesterday -- I'll try to post a link when I find it.

The API does seem to allow an update.

I can verify by doing pprint(vars(item)) on the return of client.item().update(patch).

The OneDrive web UI also reflects that value in the "Modified" field of the properties pane (though it still seems to show "Date created" as the

[2016-08-18 19:43] clarktlaugh commented on #45
I just read your response again.  I'm not modifying item.last_modified_date_time.  I'm modifying item.file_system_info.last_modified_date_time (https://dev.onedrive.com/facets/filesysteminfo_facet.htm)

[2016-08-18 20:00] #44 closed, assigned to nobody

[2016-08-19 12:20] clarktlaugh opened #46 "Question: How does this project relate to https://github.com/microsoftgraph/msgraph-sdk-python?"
I just came across the set of projects under https://github.com/microsoftgraph and see what looks to be a very similar Python SDK.  Should I be using one over the other?  Are they kept in sync?

Thank you,
Clark

[2016-08-19 17:00] cdmayer commented on #46
The Graph API is a different API than the OneDrive API. Graph provides access to many different resources that can be accessed within Microsoft, such as an Outlook inbox, in addition to OneDrive resources. Essentially, you should use Graph unless there is something supported in the OneDrive SDK that is not supported in the Graph SDK (for example, if you want to authenticate to SharePoint On Prem,

[2016-08-19 17:01] #46 closed, assigned to nobody

[2016-08-20 03:10] clarktlaugh commented on #46
Are the two projects kept in sync?  My concern is that, looking at the code, issue #45 here also seems to be present in the the Graph API as well.  Do I need to open an issue there, or do changes here get made there as well?

[2016-08-22 05:29] RaspiRepo commented on #41
Hi diman82

I had same issue with getting One drive access token from Raspberry PI without browser or UI/Monitor.   You dont need to copy & Paste access toekn from any other system or browser. Check out following link

https://github.com/RaspiRepo/Pi_OneDrive

On the python script you need to replace your Onedrive user name/password and client ID/secret from Microsoft application control panel by

[2016-08-22 16:02] cdmayer commented on #46
They are generated from the same templates, so when that issue is fixed in one, it will also be fixed in the other. However, the release cadences are a bit different so the fixes may not get released quite at the same time.

[2016-08-22 16:08] cdmayer commented on #41
Just a note about that code: it bypasses the acceptance form from Microsoft Account. That means that the app can ask for ANY permissions to your account and you are accepting them. If you choose to use this code for a small side project that's one thing, but please do NOT use this code for a product or app that will be distributed to other users.

[2016-08-22 17:40] cdmayer commented on #45
I think this was fixed in this branch but the branch was never pushed (sorry!). @D4N14L can you verify? https://github.com/OneDrive/onedrive-sdk-python/tree/datetime-fixes

[2016-08-22 18:03] clarktlaugh commented on #45
I'm currently only using the version installed via pip.  Is it safe to just grab the files from that commit and overwrite what I already have installed.  Or, is there a better way to test this branch?

[2016-08-25 16:48] D4N14L commented on #45
@cdmayer does not look like it was fixed, will work on that
@clarktlaugh while you should be able to do that, I wouldn't recommend that since we will be pushing out a new version to pip very soon after fixing. Additionally, this branch is not going to fix your issue, so it would be work for nothing. We'll have this fixed soon!

[2016-08-28 15:00] bcoover opened #49 "Onedrive web interface is not updating"
Not sure where the right place to post this is, but since I'm using Python, I'm posting here. After I upload files, in the case where there is a new version of the file with same name (using the default overwrite behavior)... the web interfaces does not update the file contents, even though the file update times shows as changed. I have tried with new sessions in multiple browsers, and nothing has

[2016-08-29 16:51] cdmayer commented on #49
This is not a Python SDK issue. Please re-open here: https://github.com/OneDrive/onedrive-api-docs

[2016-08-29 16:51] #49 closed, assigned to nobody

[2016-08-30 17:14] cdmayer commented on #45
Fix deployed in 1.1.2

[2016-08-30 17:14] #45 closed, assigned to D4N14L

[2016-09-07 12:48] paul-oprea opened #51 "Broken pipe"
Hello,

I am getting

early on when trying to upload a large file (>4GB).
I have successfully uploaded small files using the example provided
`returned_item = client.item(drive='me', id='root').children['newfile.txt'].upload('./path_to_file.txt')`
(so app declared, went through the initial drill etc etc), but fails for larger ones.

Please advise.

Kind regards
Paul

[2016-09-07 15:49] cdmayer commented on #51
Files >100MB must be uploaded using an upload session. You should be able to change just a couple things:
1. Make sure you are using Python3, as async is not supported in the Python2 version of the library.
2. Change `.upload` to `.upload_async`. This will automatically manage creating a session, uploading the file in chunks, and closing the session.

Here's an example:

[code]

[2016-09-09 08:08] ghost opened #53 "url quote in children collection url build"
Hello,

I use the following code to upload a file which filename is "a + b.txt".
But the uploaded file's name was changed to "a   b.txt".

`client.item(drive='me', id='root').children['a + b.txt'].upload('./path_to_file.txt')`

I trace the source code, found the url build method does not quote the filename.

[code]

so i changed my code to:
`client.item(drive='me', id='root').children[urllib.quote

[2016-09-09 14:16] cdmayer commented on #53
Before the request is sent it gets url encoded. You are seeing the result of that. Similarly if your name were `a %21 b.txt` you would get `a ! b.txt`. This behavior is expected. Keep using the `quote` method.

[2016-09-09 14:16] #53 closed, assigned to nobody

[2016-09-09 22:21] denniseffing opened #54 "Allow using the client without the authorization flow of the SDK"
I use my own OAuth client for authorization with the implicit flow and I successfully retrieved the access token etc. from OneDrive.
The SDK however doesn't allow me to create an authenticated OneDriveClient object with my already obtained access token. Is there any way around this? I really want to avoid the work needed for implementing my own client based on the REST API.

[2016-09-09 23:02] D4N14L commented on #54
Yes there is a way around this!

If you would like to use a token that you obtained on your own, you will need to construct the OneDriveClient as per usual, but pass in a `Session` object, like this:

[code]

Keep in mind that this means that if the token is expired, the AuthProvider will attempt to refresh the token using the refresh_token, so it must be provided in this case. If it is not, it wi

[2016-09-09 23:09] D4N14L commented on #54
Another thought, if you want to avoid all the scaryness that comes from just throwing a `Session` object in, is to implement all of your authentication flow in an object based on [AuthProviderBase](https://github.com/OneDrive/onedrive-sdk-python/blob/master/src/onedrivesdk/auth_provider_base.py). This is what we based [AuthProvider](https://github.com/OneDrive/onedrive-sdk-python/blob/master/src/o

[2016-09-09 23:54] denniseffing commented on #54
Thank you very much for the fast answer, the session object looks promising. I will have to see what I do about the missing refresh token and the resulting error handling. The implicit flow doesn't provide one and then again, I couldn't use it anyways since I'm not using my client secret (open source application, no way to keep the client secret confidential).
And yes, I already noticed the AuthPr

[2016-09-09 23:57] D4N14L commented on #54
If you're looking to get a refresh token, you just need to add the `offline_access` scope.

I would recommend looking at AuthProvider for a good example of what AuthProviderBase should do or how to implement/what to return. There are fully-fleshed-out comments there with everything you would need to make your own implementation.

[2016-09-13 09:06] gyma11 opened #56 "ValueError when uploading large file"
When I try to upload large files (500MB - 2000MB) I often get the following exception:

Anyone else having this issue?

Using python 3.4 and latest sdk (1.1.2)

[2016-09-13 14:47] #54 closed, assigned to nobody

[2016-09-13 14:47] #51 closed, assigned to nobody

[2016-09-15 15:22] ambreengames commented on #56
I am also having the exact same issue with the same software configuration when trying to upload large files (although < 10GB in size)

This happens randomly a couple of minutes after starting the upload operation using the upload_async function but lately (since around 2 days ago) it has been happening a lot, according to my logs. By looking at the error stack trace, it seems related to the parsi

[2016-09-17 19:59] jpkey commented on #41
Hi,
I am also trying to authenticate using your snippet above.

I am receiving an error after pasting the code into my terminal:
`client.auth_provider.authenticate(code, redirect_uri, client_secret)
  File "/usr/local/lib/python3.5/dist-packages/onedrivesdk/auth_provider.py", line 203, in authenticate
    data=params)
  File "/usr/local/lib/python3.5/dist-packages/onedrivesdk/http_provider.py", li

[2016-09-19 14:52] cdmayer commented on #41
Can you show your code please?

[2016-09-19 20:23] ambreengames commented on #56
This is becoming a bigger problem every day...

If I keep trying to upload the same file over and over again, after a really a lot of tries, it will eventually work. But this procedure cannot be considered a (temporary) solution, as it wastes really a lot of bandwidth (and time!) in the failed upload attempts both on my side and on the side of the OneDrive API servers.

(Just a wild guess: Could t

[2016-09-19 22:05] cdmayer commented on #56
Please give the following fix a shot: https://github.com/OneDrive/onedrive-sdk-python/pull/57

Basically, we already ignore 500-range errors for up to 5 retries per chunk. This will add blank response bodies to that bucket.

[2016-09-20 18:33] cdmayer commented on #56
After some thought I have made some changes to #57. I have a feeling that you're getting an occasional 408 (Timeout), but we can't see it because of a bug in `HttpResponse`. I fixed that, and I made `fragment_upload` ignore 408 along with 500-block errors. Please give this a try. If it doesn't work, please be sure to let me know what error code you're getting.

[2016-09-21 18:00] cdmayer commented on #56
Uploaded version 1.1.3 to PyPi, which includes #57. You should be able to use `pip` to get the new version! Let me know if you have other issues.

[2016-09-21 18:00] #56 closed, assigned to D4N14L

[2016-09-22 17:08] cdmayer opened #59 "Refactor json encoding and decoding"
JSON values are getting serialized and deserialized in-line. This makes it difficult to catch problems with invalid JSON (such as a response with an empty body, or with a body that is invalid JSON). Refactor the generated code to wrap the serialization/deserialization process and return proper OneDriveErrors when an invalid value is returned.

[2016-09-26 18:50] cnbeining opened #60 "Auth Business: cannot get anything at ResourceDiscoveryRequest().get_service_info"
I am trying to add support to Business.

This is what I am trying to do:

[code]

Then

[code]

is returning empty list.

A manual trial with curl is showing:

[code]

I am trying the graph API with the same access token, but received such error:

[code]

And I cannot use graph SDK due to

[code]

Where did I do wrong?

Many thanks.

[2016-09-26 20:14] cdmayer commented on #60
If you didn't get any services back in the endpoint discovery response, you probably haven't authorized the app for appropriate scopes. Check out the [authentication documentation](https://dev.onedrive.com/app-registration.htm#3-register-your-app-with-azure-active-directory).

[2016-10-04 12:39] attilatanyi opened #61 "SharePoint upload"
Is it possible to upload a file to the Shared Documents library of a **SharePoint site** with this SDK?
I'm able to authenticate with Azure AD and upload to a OneDrive for Business folder, but keep getting this error:
`{'error_description': "Exception of type 'Microsoft.IdentityModel.Tokens.AudienceUriValidationFailedException' was thrown."}`
when trying to upload to a SharePoint folder.

The code

[2016-10-20 16:09] dtheodor opened #62 "Changelog?"
I can't seem to locate the project's changelog

[2016-10-20 17:29] cdmayer commented on #62
Probably the best you'll do is look at the [commit history](https://github.com/OneDrive/onedrive-sdk-python/commits/master)

[2016-10-20 17:29] #62 closed, assigned to nobody

[2016-10-21 16:56] Nyshiki opened #63 "Error when expanding thumbnails in get Item request"
Hi,
I'm getting an ImportError when I try to get a Item with expanded thumbnails field.
Here's the code to reproduce it:
`returned_item = client.item(drive='me', id='file_id').request(expand="thumbnails").get()`

I would like to obtain the Item and thumbnails information in a single request and this seems the right way to do it.
BTW I cloned the repo and patched the code adding the missing import

[2016-10-22 20:25] zinzindane opened #64 "Resume upload"
How resume upload's? (large file)

please an example

[2016-10-24 08:44] D4N14L commented on #63
Hey! Just wanted to let you know that we are looking into this. While your case does only involve that fix, and will work for you, there were a few other related issues uncovered while looking into it.

[2016-10-24 09:44] attilatanyi commented on #61
Digging deeper into this question, I've found that (at least with our account) it **should have been possible** to access SharePoint, but the SDK only returned 1 service (OneDrive), and didn't return SharePoint and Azure.

The reason for this is because the `get_service_info()` function in the `ResourceDiscoveryRequest` class filters out services where the `serviceApiVersion` is not `2.0`. With Sh

[2016-10-25 18:18] D4N14L commented on #63
This is fixed with #65. Keep in mind that paging has now changed for collections, See the README for an example on how to do this now.

[2016-10-25 18:18] #63 closed, assigned to nobody

[2016-10-26 22:24] cdmayer commented on #64
Right now, the `fragment_upload` [code](https://github.com/OneDrive/onedrive-sdk-python/blob/master/src/onedrivesdk/version_bridge/fragment_upload.py#L135) does not reason about the ranges remaining in a given file. That information _is_ returned by the API in the `session` model. You would want to use some of the same logic as is used in `fragment_upload_async`. In fact, you could refactor that m

[2016-10-26 22:24] #64 closed, assigned to nobody

[2016-10-28 20:31] ybizeul opened #69 "Uploading an item doesn't work when referring to an item by ID"
I'm trying to upload big file into and running into the issue where I have to use async methods for this.

I came across #42 but couldn't find a solution to my problem.

Are async operation only compatible with Python 3?

I'm trying to use a stock python from macOS Sierra, and here is what I'm running into :

[code]

If I run with python 3.5, small files works, but big files :

[code]

What is the

[2016-10-28 21:16] ybizeul commented on #69
It looks like it I reference the item by path, it works, not when referenced by ID

[2016-10-31 16:01] ybizeul opened #70 "Malformed auth_url returned"
Here is a sample of an URL returned by auth.get_auth_url (as in the sample code) :

[code]

Because of that, the auth window doesn't open

[2016-10-31 20:37] cdmayer commented on #70
Did you [change](https://github.com/OneDrive/onedrive-sdk-python/blob/master/src/onedrivesdk/auth_provider.py#L39) `MSA_AUTH_SERVER_URL`? It seems like you are mixing unicode strings in with regular strings, which is why you're seeing this issue.

[2016-10-31 20:38] cdmayer commented on #69
Yes async is only compatible with Python 3. You are correct that it only works when accessing by path. That is a bug with the SDK and needs to be fixed.

[2016-10-31 20:45] ybizeul commented on #70
It looks like it indeed, but I didn't change that part of the code:

[code]

I even checked the script file itself see if there was weird encoded visible but couldn't spot anything weird :

[code]

Here is my line in the file you mentioned, it's the same :

[code]

[2016-10-31 20:57] ybizeul commented on #70
Oh boy...

If you look that line, for some reason there is a comma in the end that shouldn't be here.

Now it opens the window just fine but complains about resource not returned, but I suspect that's something I have to check with my company, I don't have admin access to onedrive and I don't know what is published.

[code]

The request only returned `code` and `session_state` parameters.

[2016-10-31 21:04] cdmayer commented on #70
Your issue should (hopefully) be obvious: when you have a trailing comma, you create a tuple with a single member. When the library called `format` it actually called in on the tuple, so you got the string representation of the tuple: `({url},)`.

The error you are getting now just means that you haven't created the variable `resource` yet. You should have used the Discover Service to help you ret

[2016-10-31 21:10] ybizeul commented on #70
Pull #71 created for the original issue

[2016-10-31 21:11] ybizeul commented on #70
You mean the comma wasn't a typo in the example?

[2016-10-31 21:23] cdmayer commented on #70
Many apologies! I misunderstood your comment; yes, that was an issue with the sample. I merged your PR. Thank you for pointing it out.

[2016-10-31 21:23] #70 closed, assigned to nobody

[2016-10-31 21:49] ybizeul commented on #60
I think I have a similar issue, just slap me in the face if I should create my own issue.

[code]

I set `resource`to `https://mycompany-my.sharepoint.com` but I don't exactly understand what this error means, that 'value' isn't a key in the result? That the array is empty?

My application is registered and in "Microsoft Graph Permissions" I added Files.ReadWrite.All in **Delegated Permissions** b

[2016-10-31 21:51] cnbeining commented on #60
My solution:

It could be some permission issues of programme. Try start with every permission and remove one by one.

[2016-10-31 21:55] ybizeul commented on #60
I know, here is what I get when I try to set permissions for my application.

Basically what I'm doing is a script that needs to upload files to my OneDrive (and just mine, I'm not interacting with other members, it's a personal thing). I'm not sure I can do that through the APIs without corporate validation (Admin Only thing?):

<img width="686" alt="screen shot 2016-10-31 at 5 53 20 pm" src="htt

[2016-10-31 21:59] ybizeul commented on #60
I manually printed the `response` object and here is what I get :

[code]

Should I point to a resource specific to my OneDrive folder? Is there even a way to do that?

[2016-10-31 22:00] cnbeining commented on #60
I am not sure this SDK would works with the Graph API though...it's pretty painful for now.

[2016-10-31 22:07] cdmayer commented on #60
I think I spotted a hole in the docs. Can you try setting `resource='https://api.office.com/discovery/'` before you call the discovery service? That's the place where you ask, "to what resources does this user have access?" _That_ should point you to your SharePoint tenant. Please let me know how that goes.

[2016-10-31 22:15] ybizeul commented on #60
Not sure how to do this.
I tried calling :

[code]

instead of :

[code]

And I also tried to do it directly in `resource_discovery.py` :

[code]

But I get the same result :

[code]

I get the same error if I simply set :

[code]

Here is the error :

[code]

[2016-10-31 22:36] cdmayer commented on #60
Can you please just paste in all your code? That will be easier to diagnose.

[2016-11-01 01:27] cnbeining commented on #60
https://github.com/cnbeining/onedrivecmd/blob/master/utils/actions.py#L20-L73 https://github.com/cnbeining/onedrivecmd/blob/master/utils/actions.py#L20-L73

Could help you with this issue.

[2016-11-01 02:05] ybizeul commented on #60
[code]

[2016-11-01 15:45] cdmayer commented on #60
You'll definitely want `auth.authenticate(code, redirect_uri, client_secret, resource=discovery_uri)`

Do you get any results from `ResourceDiscoveryRequest`?

[2016-11-01 16:47] ybizeul commented on #60
There you go :

[code]

At `ResourceDiscoveryRequest`, it throws :

[code]

[2016-11-01 16:49] ybizeul commented on #60
By the way I feel like hijacking @cnbeining issue, should I open a separate issue or is this related?

[2016-11-01 17:22] cdmayer commented on #60
You need to pass in the auth token, not the resource. That line should be:

Just like in the sample code.

[2016-11-01 17:23] cdmayer commented on #60
It sounds like @cnbeining 's issue has been resolved

[2016-11-01 17:24] cnbeining commented on #60
Yeah my issue was resolved. Feel free to close or continue this thread since it is the same issue.

[2016-11-01 17:26] cnbeining commented on #60
@ybizeul I do suggest that you look into my solution and see how it works.

[2016-11-01 17:43] D4N14L commented on #69
I'm unable to reproduce. With big files, you may need to use the chunked upload format to send your files to OneDrive. I'm unsure why it would work when referencing by path, but ID should work as long as it's the ID of the parent folder for your uploaded file.

[2016-11-01 18:55] ybizeul commented on #60
@cnbeining Thanks, I tried to open a bit and reach other item I thought I didn't need, but not helping much. What level did you add privilege when you look at my screenshot above, delegated or application?

I actually fixed that resource part of the code now, there was a lot of confusion on my side so it's "better" now, sorry about that @cdmayer :

[code]

So the returned array is empty.

[2016-11-02 21:08] ybizeul opened #74 "Large file upload fails with 3 nested exceptions"
This could be an issue with the client side network, but I would think the libraries retries chunks and give some informations in the output.

The upload starts and after a while, end up breaking with the following exceptions :

[code]

[2016-11-03 03:14] ybizeul commented on #74
I enabled some debug on the current slice and try and will report if I find anything new.

[2016-11-05 19:27] dtheodor opened #76 "crash when reading last_modified_date_time"
Trying to access an item's `item.last_modified_date_time` on OneDrive for Business results in a crash:

[code]

[2016-11-05 21:18] dtheodor opened #77 "Add a folder example is broken"
Trying the example found in the README:
[code]

Throws an error:

[code]

[2016-11-07 14:14] dtheodor opened #78 "The Borg: All instantiated objects carry the same state"
[code]

*All* instances share the exact same attributes. The reason for that is this constructor, which is recurring among all models

[code]
The default parameter `{}` is evaluated once when the function definition is executed, resulting in all instances sharing the same single `_prop_dict` dictionary object (explained at https://docs.python.org/3/reference/compound_stmts.html#function-definition

[2016-11-07 20:48] D4N14L commented on #78
You are correct. Will look into getting this one fixed. Thanks for reporting!

[2016-11-07 20:52] ybizeul commented on #74
Closing as I could not reproduce the issue

[2016-11-07 22:54] D4N14L commented on #69
Closing because of lack of repro. If someone can provide instructions for a consistent repro in the future, feel free to re-open.

[2016-11-07 22:54] #69 closed, assigned to nobody

[2016-11-07 23:23] #76 closed, assigned to D4N14L

[2016-11-07 23:23] #78 closed, assigned to D4N14L

[2016-11-07 23:24] #77 closed, assigned to D4N14L

[2016-11-09 13:56] ProLuck opened #82 "Accessing and Writing to Files In One Drive"
Hi There,

I want to be able to read / write to files stored on 'one drive for business' which is due to be rolled out for our business.

However, the process seems a little complex to me. Microsoft site states that there is no SDK available for 'One drive for Business' is this correct.

Is any one here able to point me the right steps for achieving this?

[2016-11-09 18:08] cdmayer commented on #82
Check out our documentation: https://github.com/OneDrive/onedrive-sdk-python#onedrive-for-business

Long story short: you can use the same code to access your OneDrive for Business files as you would to access OneDrive. The only differences are in authentication and construction of the `OneDriveClient`

[2016-11-09 18:08] #82 closed, assigned to nobody

[2016-11-10 08:13] ProLuck commented on #82
thanks @cdmayer
does this still involve me registering my app with Azure active dir etc then mapping it with my office 365 account...?
also, when specifying my resource in the code shown by you, should that be based on a Sharepoint site instead of direct line to office 365?

[2016-11-10 16:20] cdmayer commented on #82
Yes it does. You (or your administrator) would need to register you app before it can be used with your tenant.

Not sure what you mean. Can you give examples of each?

[2016-11-10 16:31] ProLuck commented on #82
So once they register the app and provide me with the client secret and key they will have to link this to my account? As initially i want to use the client secret provided by them to update stuff under my one drive? is that feasible?

for part2 of the question? Online it also talks about having a developer site which is then configured under the code? am i to set my resource based on the site cre

[2016-11-10 16:41] cdmayer commented on #82
Your admin will only need to approve the app. After that, when you use the OneDrive SDK to access your OneDrive, you'll get a consent window that will ask, "This app wants to access your OneDrive. Is that OK?" Going through that consent flow will grant the app access to your OneDrive. No need for your admin to manually consent your account.

Yes, you would point it to the resource you provided. Yo

[2016-11-10 21:45] ProLuck commented on #82
Thanks...I will give it a try..

[2016-11-11 08:12] ProLuck commented on #82
@cdmayer does it have to developer sharepoint site e.g...can I not point it directly to one drive?

[2016-11-11 17:28] cdmayer commented on #82
When you construct the client object, you pass in a resource (your SharePoint instance). Then, when you authenticate, you will log in with a user, which implicitly points the client at that user's drive.

[2016-11-12 13:55] ProLuck commented on #82
thanks @cdmayer  got it working.

[2016-11-15 18:29] ybizeul commented on #74
This keeps happening sometimes so I reopen the case.

Is there a way that the exception is catched, and we follow the retry mechanism already in place for each "piece" upload?

[code]

[2016-11-16 02:37] ybizeul opened #83 "Upload sockets left open with FIN_WAIT"
Looking at sockets used by the big file upload I noticed sockets left open in `FinWait2` state.

Every single socket used to upload the 10m pieces. After some research, I saw this documentation :

https://kb.iu.edu/d/ajmi

Is it possible onedrive-sdk-python code doesn't cleanly close the socket?

[code]

[2016-11-19 15:01] locked-fg opened #84 "adding folder fails"
I try to add a folder "foo" into the (existing) folder "/a/b/" with the following code:
[code]
Yet I just get:
[code]

[2016-11-24 19:12] lucabezerra commented on #84
I've submitted yesterday a pull request that fixes this. In the meantime, you might want to go into your children_collection.py file and add `from ..model.item import Item`.
The file is located under ../onedrive-sdk-python/src/python2/request/children_collection.py.
However, if you're using it inside a virtualenv, you should make the change there, not in the SDK folder you've cloned (if you did so

[2016-12-02 04:43] D4N14L commented on #84
This is fixed in #86 which is now in master. I will update the version and push to pypi.

[2016-12-02 04:43] #84 closed, assigned to nobody

[2016-12-02 07:57] locked-fg commented on #84
Awesome guys! Thanks a lot.

[2016-12-02 08:05] D4N14L commented on #61
Seems like this is solved for you. I'm going to close out this issue.

[2016-12-02 08:05] #61 closed, assigned to nobody

[2016-12-02 08:06] D4N14L commented on #60
Closing out since the issue seems solved. Thanks!

[2016-12-02 08:06] #60 closed, assigned to nobody

[2016-12-02 08:18] D4N14L commented on #83
The SDK code uses the requests library to accomplish the task of posting the slices in the fragment_upload_async method. The only time I can think of this happening is when there is an error in the connection and the socket wasn't closed properly, however you seem to be indicating that this occurs on each session? If I could get more info from you on that, it would really help. Thanks!

[2016-12-02 13:35] ybizeul commented on #83
Yes, every single session ends up in FinWait2. Probably not a big deal I guess, I found that during other investigations. I'd be glad to collect any useful information

[2016-12-08 10:15] attilatanyi commented on #61
I'm afraid I failed to get the point across... I think this is a bug. Affecting everyone who:

- would like to access SharePoint with this SDK
- is able to access SharePoint via API 1.0 and 2.0 as well (this is everyone I think?)

Resource discovery will say that the SharePoint resource can be accessed using API 1.0, but it can be accessed using API 2.0 too. So either the `ResourceDiscoveryRequest

[2016-12-09 17:44] diman82 opened #87 "Add support for recursive upload"
Can you please add support for recursive upload (folder/subfolder1|subfolder2/file1|file2)?
I understand that this is more of a client implementation functionality, but I'm positively sure it is a demanded feature..

[2016-12-10 23:13] diman82 commented on #87
I've managed to get it working by my own, sharing my script, if anyone will need this:
https://gist.github.com/diman82/d0db6a970bb4d9949fcdb680dd184ef5

I'm using a slightly modified version of:
https://github.com/RaspiRepo/Pi_OneDrive  for auth:
https://gist.github.com/diman82/101c9928cf3425bc05a40de5277b7ea1

[2016-12-16 23:33] D4N14L commented on #87
I'm going to close this out. Recursive upload as you say is definitely a client implementation. Though, I'm glad to see you could make it work rather easily with the SDK! If you would like to implement some form of extension into the SDK to do something like this, feel free to write an implementation under the `/src/onedrivesdk/extensions` directory, likely extending from `ItemRequestBuilder`, and

[2016-12-16 23:33] #87 closed, assigned to nobody

[2016-12-17 08:39] diman82 commented on #87
Could you please provide an short example of an extension impl.? It's not so clear to me.
Basically, I've created a function (please don't pay attention to content) in a new python file ('one_drive_client_item_helper' under the extensions dir):

`def upload_recursive(self, client, path):
    """Uploads the file using PUT

    Args:
        path (str):
            The path to the local file to uplo

[2016-12-19 06:20] bturetzky commented on #74
I suspect these are related:
* [stack overflow question about file modes as they pertain to windows](http://stackoverflow.com/questions/15746954/what-is-the-difference-between-rb-and-rb-modes-in-file-objects)
* [onedrivesdk.http_provider](https://github.com/OneDrive/onedrive-sdk-python/blob/3e6ef13738f2d2b634dd0672e4b64488459fbd39/src/onedrivesdk/http_provider.py#L55)
* [python mail thread on rb f

[2016-12-20 05:34] bturetzky commented on #74
I was able to resolve my issues by looking through closed issues and changing the way I uploaded files:
https://github.com/OneDrive/onedrive-sdk-python/issues/51

The example code in the readme is just really bad.

[2016-12-26 09:20] xybu opened #88 "Size field mismatch size of content downloaded"
I noticed that for some (not all) files in my OneDrive Personal account the size reported by the API is not consistent with the length of content actually downloaded, yet the SHA-1 hash values match.

For example, I have a JPEG file named `IMG_0100.JPG` whose `size` is 62671 bytes reported by API yet the downloaded file is only 57814 bytes. However, the API says the SHA-1 hash is `D4AE13DB398E5F51

[2016-12-26 16:34] D4N14L commented on #88
I'm going to close here. I believe this is a service level issue. If you think this is wrong, feel free to reopen!

[2016-12-26 16:34] #88 closed, assigned to nobody

[2016-12-26 19:46] xybu opened #89 "Failed to parse datetime of FileSystemInfo facet"
There is a file in my OneDrive whose `FileSystemInfo` facet has the following dict:

[code]

Here is the relevant exception when parsing the dict:

[code]

I think the reason is that the microsecond portion of `2016-12-26T10:23:33.2233333Z` has an extra, 7th digit `3`, making it 7 digits in total rather than 6 digits and resulting in the error.

As a note, I did not modify the `FileSystemInfo` man

[2016-12-26 19:56] xybu opened #90 "Suggestion: Explicit tzinfo in datetimes returned by SDK"
In the SDK, all datetimes (e.g., `Item.file_system_info.last_modified_date_time`) returned miss `tzinfo` attribute. Although UTC is assumed (strictly speaking, this isn't true because OneDrive API explicitly returns UTC timezone by `Z`) in OneDrive API, if the user does not pay extreme attention to timezone info and uses the value directly in some Python API where localtime is assumed when `tzinfo

[2017-01-18 21:57] diman82 opened #91 "Selenium/PhantomJS error: Unable to find element with name"
I get the following error message when using the PhantomJS driver of Selenium:

`c:\Python36\Scripts>..\python.exe onedrive_ul.py
Traceback (most recent call last):
  File "onedrive_ul.py", line 26, in <module>
    code = onedrive_auth.get_auth_code()
  File "c:\Python36\Scripts\onedrive_auth.py", line 34, in get_auth_code
    element = driver.find_element_by_name('ucaccept')
  File "c:\Python36\l

[2017-01-19 07:43] xybu opened #92 "API not found for DriveRequestBuilder.recent() method"
It seems that the `recent()` method of `DriveRequestBuilder` is requesting a wrong API URL `/v1.0/drive/recent`. The API doc (https://dev.onedrive.com/drives/recent_files.htm) says the URL should be `/drive/view.recent`. If the API doc is right, then the `view.` part is missing in the URL used by SDK.

Some log from my program:

[code]

[2017-01-20 05:28] xybu opened #93 "version_bridge.fragment_upload.fragment_upload_async returns UploadSession when success"
After the last chunk of file is uploaded to server, `fragment_upload_async()` returns a UploadSession whose _prop_dict is one for `Item` resource. This happens because `ItemUploadFragment.post()` always uses the response to construct `UploadSession` object. Shouldn't it return an `Item` directly if the session succeeds?

[2017-01-22 02:53] xybu opened #94 "Is the API for creating a subscription implemented?"
I saw how to list and update existing subscriptions from the API code, but haven't found a method to create a new subscription (https://dev.onedrive.com/webhooks/create-subscription.htm). Is this API implemented? If so, can I get an example that demonstrates how to use it?

[2017-01-23 07:28] xybu opened #95 "Error in updating subscription"
It seems that `SubscriptionRequest` is a subclass of `RequestBase` but the method `_initialize_collection_properties` is in `ItemRequest` class (which is also a subclass of `RequestBase`). Calling `SubscriptionRequest._initialize_collection_properties()` in places such as https://github.com/OneDrive/onedrive-sdk-python/blob/8a406a0769f75a96eda8ffd0a530c18695dbe96d/src/python3/request/subscription_

[2017-01-24 21:35] KennethWilke commented on #90
I was noticing that my `last_modified_date_time`s looked off, I'd see `1/24/2017 11:24 AM` in the OneDrive site and `Tue Jan 24 21:16:06 2017` in this SDK. Which seems pretty strange to me that the minutes are off too.

@xybu did you have a way to work around this and get the proper time?

[2017-01-24 21:52] xybu commented on #90
@KennethWilke I believe the server manages the field `Item.last_modified_date_time` and it's read-only to clients (see https://dev.onedrive.com/resources/item.htm). The writable field is `FileSystemInfo.last_modified_date_time` which is present only for files in OneDrive Personal accounts (see https://dev.onedrive.com/facets/filesysteminfo_facet.htm).

[2017-01-24 21:58] KennethWilke commented on #90
I understand that the server would manage that field, what's confusing me is why the time I get back doesn't match the time i see in the Web UI.

[2017-01-24 22:05] KennethWilke commented on #90
For a more concrete example, i have a file, `Document1.docx`. In OneDrive's website it says `Modified
    1/24/2017 11:24 AM`

When I grab item.last_modified_date_time i get `2017-01-24 21:16:06.260000`. If I convert that to local time (GMT-6) it converts to 4 hours and 52 minutes ahead of what I'm expecting it to be

[2017-01-24 22:07] xybu commented on #90
What's the value of `item.file_system_info.last_modified_date_time`? Also double check the raw string of those fields (dump `item._prop_dict`) because the datetime parser included in the SDK doesn't set timezone explicitly and some Python functions assume local time if timezone is absent and some assume UTC -- just be careful.

[2017-01-24 22:12] KennethWilke commented on #90
Ah! That value does look like the proper UTC timestamp, thank you! :)  Do you know what is different about the items own `last_modified_date_time`?

[2017-01-24 22:16] xybu commented on #90
It seems the server updates `Item.last_modified_date_time` whenever its data or metadata is updated.

[2017-02-02 14:23] denniseffing commented on #54
Short update: My own implementation works fine but it's a shame that you can't retrieve a refresh token when using the token flow (even when adding offline_access to the scopelist). This makes maintaining desktop applications pretty difficult and the usage is quite inconvenient for the user.
See https://dev.onedrive.com/auth/msa_oauth.htm.

Thanks for you help @D4N14L.

[2017-02-13 22:20] app5000 opened #97 "Invalid_grant when using onedrive python sdk code flow oathuv2"
I am using the following code to get an access_token:

    import onedrivesdk

    redirect_uri = 'http://localhost:5000/onedriveauth'
    client_secret = ’secret’   #secret is the string I got from onedrive app registration
    client_id= ‘id’   #id is the string I got from onedrive app registration
    api_base_url='https://api.onedrive.com/v1.0/'
    scopes=['wl.signin', 'wl.offline_access', 'o

[2017-02-17 13:06] patrislav1 commented on #97
I have the same issue.

[2017-02-19 09:17] app5000 opened #98 "getting invalid_grant with onedrive python sdk code flow authentication"
I am using the following codes to do authentication for my onedrive app:

import onedrivesdk

redirect_uri = 'http://localhost:5000/onedriveauth'
client_secret = 'my_client_secret'
client_id='my_client_id'
api_base_url='https://api.onedrive.com/v1.0/'
scopes=['wl.signin', 'wl.offline_access', 'onedrive.readwrite']

http_provider = onedrivesdk.HttpProvider()
auth_provider = onedrivesdk.AuthProvider

[2017-02-26 17:15] jamespatersonMOA opened #99 "possible "typo" bug in /model/item_delta_collection_page?"
hi,

/model/item_delta_collection_page may have a bug:

[code]

should next_page_link return **self._next_page_link** not **_delta_link**?

[2017-03-04 10:49] app5000 opened #100 "How to get createdDateTime for a file using id#"
I tried to get the created timestamp for a file in one drive using client.item(id=itemid).get().createdDateTime but got an error msg:
AttributeError: 'Item' object has no attribute 'createdDateTime'.

when I tried client.item(id=fileid).get(), I got <onedrivesdk.model.item.Item object at 0x11b412ed0>.  What does this mean?

I found references to the 'createdDateTime' attribute in drive item object

[2017-03-14 20:12] susamn opened #101 "Creating a Onedrive client from access_token with code flow"
I am using https://login.live.com/oauth20_authorize.srf to get access_token and refresh_token and managing the refresh myself. How can I use the access_token to create a client from the sdk and use Graph to connect to Onedrive? Is there a way? I don't want to use REST api, I want to rely on the sdk, as any change in the REST api will be managed by the sdk.

Referring to the documentation ;
https:/

[2017-03-15 03:41] clarktlaugh opened #102 "Question: Is there a way to move a file from one folder to another?"

[2017-03-26 17:40] oleo65 opened #103 "upload_async fails with large files"
I was using the proposed solution in #51 for uploading large files (> 100MB).

The `upload_async` method is working well for files which do not require chunking and therefore don't require an upload session. However when trying to upload a file which requires an upload session an `OneDriveError` is raised with `invalidRequest - API not found`.

The line which triggered the upload was:
`client.item

[2017-03-28 03:56] edgaru commented on #103
I have the same issue. Any solution?

[2017-04-10 23:25] AlexNigl opened #104 "upload_async doesn't upload files asynchronous in python>=3.4"
[onedrivesdk/version_bridge/fragment_upload.py](https://github.com/OneDrive/onedrive-sdk-python/blob/master/src/onedrivesdk/version_bridge/fragment_upload.py) overwrites the default method [`upload_async`](https://github.com/OneDrive/onedrive-sdk-python/blob/e5642f8cad8eea37a4f653c1a23dfcfc06c37110/src/python3/request/item_request_builder.py#L119-L120) without being a coroutine itself or using asy

[2017-04-17 11:30] oleo65 commented on #103
This issue might possibly related to #104

Additional information: Checked with Python version 3.4.2 and 3.6.0. Both not working and raising the same error described above.

[2017-05-12 08:03] onurece opened #106 "Can't get any service_info returned after authentication"
I'm trying to upload a file to OneDrive of an MS SharePoint using the Python API here. I've succeeded in authentication, but I can't get any service_info returned.

I've already looked [here](http://stackoverflow.com/questions/39981210/upload-file-to-ms-sharepoint-using-python-onedrive-sdk) and [here](https://github.com/OneDrive/onedrive-sdk-python/issues/60). I'm experiencing the exact same issue

[2017-05-20 06:24] garretfick opened #107 "invalid_grant if request readonly instead of readwrite"
Hi,

I followed the authentication instructions as described in the readme. However, I changed the requested permissions to request `onedrive.readonly` instead of `onedrive.readwrite` since I only need to read files (see [https://dev.onedrive.com/auth/msa_oauth.htm]).

However, when I request `readonly` permissions, I get the exception: `Exception: invalid_grant`.

[2017-05-29 23:49] nakioman opened #108 "How to get quota"
Can someone point me to an example on how to get the quota with the Api?
Thanks

[2017-06-05 03:51] schvarcz commented on #100
Hello.

In the python api they use the python style. You can get the created DateTime by:

[code]

However, for syncing purposes, I think it would be better to use:

[code]

Kind regards.

[2017-06-05 20:28] app5000 commented on #100
Thank you for your help.  I was able to fixed the problem with an answer from onedrive-api-docs.  Your answer works too.  Here is the link to the other answer  https://github.com/OneDrive/onedrive-api-docs/issues/551#issuecomment-287216061.

Thanks for getting back to me.

Regards,.

[2017-06-05 20:28] #100 closed, assigned to nobody

[2017-06-12 07:28] MailMan123 opened #109 "InalidRequest when copying to 'root'"
When copying a file to the root directory in the onedrive, I get the following error:
`onedrivesdk.error.OneDriveError: invalidRequest - ObjectHandle is Invalid`
Copying to any other path is working just fine.
help would be appreciated

[2017-06-14 10:48] dtheodor opened #110 "Error handling on reply address configuration error"
The code in `http_response.py` is not correctly handling this error data I receive from Microsoft

[code]

[code]

So I'm getting an unhelpful general Exception that has hidden away any useful information on the error. Is this intended behavior?

[2017-06-27 23:00] rkhwaja opened #111 "How does this relate to the msgraph pypi package?"
Please add something to the readme regarding this. Both this package and the msgraph package claim to be the official way to access OneDrive.

The readme should explain which one is appropriate for which situation.

[2017-07-18 11:01] codecraf8 opened #112 "Getting a Runtime Error : There is no current event loop in thread"
I am trying to upload files to Onedrive via django.

The code is same as mentioned in the documentation

        redirect_uri = settings.ONEDRIVE_REDIRECT_URI
        client_secret = settings.ONEDRIVE_CLIENT_SECRET
        api_base_url = settings.ONEDRIVE_API_BASE_URL
        client_id = settings.ONEDRIVE_CLIENT_ID
        scopes=['wl.signin', 'wl.offline_access', 'onedrive.readwrite']
        cli

[2017-08-02 06:23] verybada opened #113 "Get "invalid resource" when acquire token by german office 365 account"
Hi,

I got error `invalid resource` during execute sample code (I had already change endpoint to .de, please see following snippet). Should I use different resource for German 365?
[code]

[code]

[2017-08-28 04:32] gojohnkevin opened #114 "upload_async fails in < python 3.6"
I have a file worth 600mb. Tried using python 3.6, upload_sync works well but tried on python 3.5.3, it fails.

`{'error': 'invalid_request', 'error_description': 'This access token is not valid on this endpoint.'}`

Here's the traceback:
`Traceback (most recent call last):
  File "/home/keving/.pyenv/versions/3.5.3/lib/python3.5/site-packages/onedriveb_cli/actions.py", line 195, in upload
    upl

[2017-08-29 09:04] rushid93 commented on #97
I also have the same issue.

[2017-09-28 21:07] dfeinzeig opened #115 "Unicode issue in paths"
If the path passed to

https://github.com/OneDrive/onedrive-sdk-python/blob/master/src/onedrivesdk/extensions/drive_request_builder_helper.py#L40

contains a unicode character it blows up with a unicode error. Is it valid to have unicode characters in paths in onedrive? if so, this should be updated.

[2017-10-06 16:01] app5000 opened #117 "How to get access_token and reuse it to make api call using python sdk"
Hello,

Can one get access_token if using python sdk authentication?  I am following the instruction on this page: https://github.com/OneDrive/onedrive-sdk-python.  However, I see no mention of access_token and don't how to get it and reuse it to make api calls.  Can anyone help?

Idealy, I want to save token into session['onedrive']=access_token.  If this is doable, how do I use access_token to r

[2017-10-11 13:42] jjorissen52 opened #118 "https://api.office.com/discovery/ raises 404"
https://api.office.com/discovery/v2.0/me does not. But it does return an invalid resource (allServices). Not sure where to go from here.

[2017-10-20 14:35] zioalex opened #119 "empty ResourceDiscoveryRequest().get_service_info(auth.access_token) for OneDrive Business account"
Hi guys,
I am not able to get the list of service available for a OneDrive Business account.

I created a new app in https://apps.dev.microsoft.com/ and added a redirect URLs as described in the doc.

I used the script provided by you customized with my own:
redirect_url = http://localhost:5000/login/onedrive-authorized
client_id = 'xxxx-xxxx-xxxx-xxxx-xxxxxx'
client_secret = 'xxxxxxxxxxx'

As out

[2017-10-27 05:46] ivanskj commented on #119
Exactly the same issue here

[2017-11-03 15:14] zioalex commented on #119
Hi guys, no update here?

[2017-11-05 13:22] ruhveen commented on #119
I'm also experiencing the same behaviour,
any update?

[2017-11-16 09:26] Sam-khorsand commented on #107
For me, it gives the same error also with files.readwrite.

[2017-12-10 15:29] papou-github commented on #103
I also tried with 3.6.3 on Ubuntu 16.04 and still have : API not Found
Do you have any update or workaround as from my point of view without clear solution this API is unusable as you cannot upload "large" file ... ?
Python 3.6.3 (default, Oct  6 2017, 08:44:35)
Thank you !

Traceback (most recent call last):
  File "./TEST.py", line 214, in upload_file
    returned_item = CLIENT.item(drive="me",

[2017-12-12 00:16] easy4dtam opened #120 "How to share a folder/file with an user/email?"
Hi all,
      Anyone tried to share a folder/file with another user using this SDK?  I know the model has permissions object available, I just need a small example of tying item() with permission() with share attributes to make it work if it is indeed supported..  Thanks very much in advanced.

[2017-12-12 00:39] easy4dtam commented on #117
I was able to make it work.   Basically, I use the example code to setup most of the call, but using selenium to access the URL and go thru the login pages to pick up the code from the response URL.  Once acquired the code you can authenticate and save the session using a pickle file.  Load the pickle file for your subsequent access.  These are the old urls I used:
        self.discovery_uri = 'ht

[2017-12-13 03:46] app5000 commented on #117
I ended uo saving it in session.  if you save it in a pickled file, what happens when it is expired?
    On Monday, December 11, 2017, 7:39:52 PM EST, easy4dtam <notifications@github.com> wrote:

I was able to make it work. Basically, I use the example code to setup most of the call, but using selenium to access the URL and go thru the login pages to pick up the code from the response URL. Once ac

[2017-12-13 22:49] easy4dtam commented on #117
it is the same thing for me.  the pickle file is the file for my saved session.

[2017-12-16 20:49] app5000 commented on #117
The only problem I have now is not knowing when I have to re-authenticate again.  I don't know how to auto-redirect to my authentication function when the error message comes up.  Did you set it up to auto-reauthenticate when the token expires?
    On Wednesday, December 13, 2017, 5:49:50 PM EST, easy4dtam <notifications@github.com> wrote:

it is the same thing for me. the pickle file is the file

[2017-12-19 04:26] hsyang76 commented on #60
@ybizeul, Have you solved "list index out of range" issue?

[2018-01-03 15:11] jwatsn commented on #119
Same issue

[2018-01-11 22:00] cnbeining commented on #108
https://github.com/cnbeining/onedrivecmd/blob/master/onedrivecmd/utils/actions.py#L512-L546

[2018-01-19 18:57] terrainthesky1 opened #121 "Request: How do I read the data from an office 365 excel spreadsheet without having to download the entire document?"
I haven't been able to find out how to do it anywhere.

[2018-01-31 06:40] Kansattica opened #122 "upload_async returns UploadSession"
I am trying to upload a large (~500 MB) file to OneDrive, and after reading some of the issues (#74, #103, #104), I learned that `upload_async` was the way to go, so I have this line:

`returned_item = client.item(drive='me', path='root').upload_async('./downloaded/' + newname)`

However, `returned_item` is of the type `onedrivesdk.model.upload_session.UploadSession`, and not `Item` like `upload()

[2018-02-01 04:53] Kansattica commented on #122
Never mind, this worked- I just had to call `to_dict()` on the upload session. The thing actually was getting uploaded.

[2018-02-24 21:28] hanahana1618 commented on #98
I had a similar error, and I solved it using including the redirect_uri in the app registration.
![screenshot-2018-2-24 test-onedrive registration](https://user-images.githubusercontent.com/13605753/36635238-b737c56e-197f-11e8-98fa-fab3ee269077.png)

[2018-02-24 21:33] hanahana1618 commented on #97
Try specifying the same redirect_uri in the app registration as in the code. In my case, I used http://localhost:8080/
![screenshot-2018-2-24 test-onedrive registration](https://user-images.githubusercontent.com/13605753/36635304-6d9dd078-1980-11e8-9f61-11a25e96938f.png)

[2018-02-25 05:20] app5000 commented on #97
Thanks. I found a typo, after that it was fixed.
    On Saturday, February 24, 2018, 4:33:27 PM EST, Ivette Castro <notifications@github.com> wrote:

Try specifying the same redirect_uri in the app registration as in the code. In my case, I used http://localhost:8080/

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-03-19 11:43] dbsanfte opened #123 "Use Device Code oauth flow for a much better experience"
https://hk.saowen.com/a/c476afb9db3b6f9d6809d4008b0dca5f54533392e713ed5ed4deb3a674b63b72

This provides a much better user experience than copy/pasting the code= stuff in the address bar.

[2018-03-26 09:27] grishbhasin commented on #44
I am also not able to access shared folder what the correct way of doing it.

[2018-04-05 19:22] segalion commented on #119
Me too.
The reason is here:
https://dev.office.com/blogs/outlook-rest-api-v1-0-office-365-discovery-and-live-connect-api-deprecation

Today, we are announcing the **deprecation of the Office 365 discovery service** in favor of using the Microsoft Graph. Deprecation begins on January 10th, 2018. **Newly registered apps will not be able to access the Office 365 discovery service.** Existing apps can

[2018-04-19 14:22] pertoft opened #124 "onedrivesdk.ChildrenCollectionRequest.get_next_page_request: AttributeError: 'ChildrenCollectionPage' object has no attribute '_next_page_link'"
Error: AttributeError: 'ChildrenCollectionPage' object has no attribute '_next_page_link'

Terminal output:
0 : 20180408_155657.jpg
1 : 20180408_160051.jpg
2 : 20180408_160150.jpg
<class 'onedrivesdk.model.children_collection_page.ChildrenCollectionPage'>
0 : 20180414_181319.jpg
1 : 20180418_164440.jpg
2 : test2.jpg
The thread 'MainThread' (0x4580) has exited with code 0 (0x0).
Traceback (most rec

[2018-04-30 20:01] rschork commented on #59
Bump - I have been getting JSON errors a lot recently. Things like the below:

onedrivesdk.error.OneDriveError: malformed - The following invalid JSON was returned:
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'

tyle type='text/css'>body {font-family:Arial; margin-left:40px; }img  { border:0 none; }#content { margin-left: a

[2018-04-30 20:03] rschork opened #125 "Invalid JSON when uploading CSV"
I have been getting this error a lot recently -- mainly when uploading larger csvs (80mb or so).

'''
onedrivesdk.error.OneDriveError: malformed - The following invalid JSON was returned: <!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'><html xmlns='http://www.w3.org/1999/xhtml'><head><meta content='text/html; charset=utf-8' h

[2018-05-07 23:31] dfeinzeig opened #126 "cannot get item changes"
When trying to get item changes, seeing this response:

`{"error":{"code":"invalidRequest, "message":"You cannot get the content of the current version"}}`

We have not changed anything, and this was working yesterday. Thoughts?

[2018-06-11 21:40] sathaley1 opened #127 "OneDrive for business authentication without user"
I am looking for authenticating my app wihouth the need of a browser to provide consent. Admin consent has already been granted to the app via Azure portal. I am looking for the same functionality as provided via:
https://developer.microsoft.com/en-us/graph/docs/concepts/auth_v2_service

[2018-06-18 06:49] schvarcz commented on #122
Hello.

I am experiencing the same problem here when trying to upload large files. Could you detail how do you use `to_dict()` to workaround the issue?

Moreover, I have been searching in the repository to understand why this issue is happening. I found out that the problem is in [this file](https://github.com/OneDrive/onedrive-sdk-python/blob/aae46f310b6d5fc843db469d5e5c2ec1bb8f53a9/src/onedrives

[2018-06-23 10:14] Kansattica commented on #122
It's been a while since I worked on the code, but if I want to upload a large (much larger than 10MB) file to OneDrive, that code looks like this:

`        returned_item = client.item(drive='me',id=item.parent_reference.id).children[newname].upload_async('./downloaded/' + newname).to_dict()`

I suspect this makes the would-be async upload block until it's done, and maybe if you wait around long e

[2018-07-11 03:01] tigercosmos opened #129 "Does this SDK still up to date?"
It seems the SDK has stopped to update for two years. Does this SDK support the latest graph API?

[2018-07-11 14:33] ecebuzz commented on #129
I don't think so.

[2018-07-12 09:09] tigercosmos commented on #97
I have this error since I call authenticate twice, and the code is only valid for once.

[2018-07-12 20:09] app5000 commented on #97
Hi,  If I remember correctly, I had a wrong reference somewhere from making a lot of changes.  It is fixed now.  Thanks for sharing.

    On ‎Thursday‎, ‎July‎ ‎12‎, ‎2018‎ ‎05‎:‎09‎:‎07‎ ‎AM, Liu, An-Chi <notifications@github.com> wrote:

I have this error since I call authenticate twice, and the code is only valid for once.

—
You are receiving this because you authored the thread.
Reply to this

[2018-08-02 09:29] caoyufei opened #131 "get token fail"
[code]

[code]

[2018-08-07 10:33] DenisEvgrafov opened #133 "Error for connect to ONE DRIVE"
Hello! Can you help me? I have a problem with connect to one drive account. I use next programming code:
`redirect_uri = 'http://localhost:8080/'
client_secret = '******'
scopes=['wl.signin', 'wl.offline_access', 'onedrive.readwrite']
client = onedrivesdk.get_default_client(
client_id='*****', scopes=scopes)
auth_url = client.auth_provider.get_auth_url(redirect_uri)
#this will block until we have

[2018-08-07 13:12] vyacheslavparkhomenko opened #134 "Shared File/Folder"
Hello, please tell me how I could have access to a shared folder in onedrive with onedrive sdk?
Or I have next situation: I have a link to a file in one drive. How I could download this file with onedrivesdk python?
P.S. Very very very thanks everybody

[2018-08-10 03:22] comnutssg commented on #133
So I was just starting to play with this sdk as well, found that I need to add a Web platform and the uri in My Applications portal.

![image](https://user-images.githubusercontent.com/34881018/43937306-73e76236-9c8f-11e8-9e57-fdcf485556d5.png)

[2018-08-10 03:24] comnutssg commented on #112
Not sure if you will still need this.
It doesn't work while started in a new thread.

[2018-08-10 03:35] comnutssg commented on #133
You also might want to change the code from onedrivesdk.get_default_client to onedrivesdk.get_consumer_client.

According to the source, [get_default_client is deprecated](../commit/80eee9fbe6e3ff99ab15ac1491097c08a15244b5#diff-75689f2458cd71c487a6ce913b8badf2).

[2018-08-10 06:29] DenisEvgrafov commented on #133
Thank you! I am not the Web-developer. It would be better for me to execute all process in console application, without user. Is it possible?

[2018-08-10 06:56] comnutssg commented on #133
Nope, I was looking for that too. You will need authorization from the user in any case. I'm looking into network drive mapping instead now -- https://www.laptopmag.com/articles/map-onedrive-network-drive.

[2018-08-14 20:10] prakashpandey commented on #41
Why is this issue closed?
As per the issue heading `Authentication without needing a web browser?`, all answer I see hear required browser interaction(other than some solution using selenium).

Do we have anyway in which we can authenticate without using browser also not using selenium?

[2018-08-14 22:52] prakashpandey opened #135 "Authentcation not working in windows server 2012 and 2016"
I am trying to download files from onedrive using python SDK. My code is working fine on Ubuntu 18.04, Windows 7 and Windows 2008 server. When I am trying to run the same application on windows server 2012, 2016 my application stuck at `code = GetAuthCodeServer.get_auth_code(auth_url, conf.redirect_uri)`.

I can see my python code opens a tab in my chrome, tell me to sign in and then gets closed.

[2018-08-16 10:54] smar10 opened #136 "Problems with API"

[2018-08-16 10:55] #136 closed, assigned to nobody

[2018-09-13 19:04] Anmar-Salih commented on #98
I got the same issue. Thank you hanahana1618, your solution worked like a charm.

[2018-09-29 06:59] iamrajeshchauhan commented on #98
Hi @hanahana1618 , I have tried to add the localhost URL in the Microsoft application. But somehow it didn't open the authentication page. It gives me the proxy error in the Chrome browser.

Any idea what would be an issue ?

After changing localhost URL in the code, I'm getting below error.
![error](https://user-images.githubusercontent.com/25196995/46242200-5b351c80-c3e3-11e8-9344-856903a96605.J

[2018-10-04 12:34] rudr4x5h commented on #115
This PR(#137) may address and provide a quick fix for this issue considering unicode character is not allowed in paths.

[2018-10-13 12:20] Oleksandr-Silin opened #138 "Can't upload file with unicode name"
this code crashes with next exception:
Exception has occurred: exceptions.UnicodeEncodeError 'ascii' codec can't encode characters in position 0-8: ordinal not in range(128)
[code]
but same time i can create folders with unicode characters using SDK

[2018-10-13 21:29] Oleksandr-Silin commented on #138
ok, i figure out reason. It happens only if you use python 2.7, for python 3 you don't need to do it.
to fix it you need to change next line at **request_builder_base.py**
from
[code]
to
[code]

[2018-10-13 21:29] #138 closed, assigned to nobody

[2018-11-04 01:07] ashu16815 opened #139 "Authentication Issue"
I am getting :
{'error': {'code': '-2147024891, System.UnauthorizedAccessException', 'message': 'Access denied. You do not have permission to perform this action or access this resource.'}}

Line error :     response = json.loads(requests.get(self._discovery_service_url, headers=headers).text)

What kind of permissions required ? How to assign that ?

Thanks alot in advance for help.

[2018-11-04 01:25] ashu16815 commented on #139
`lass ResourceDiscoveryRequest(object):
    def __init__(self):
        self._method = 'GET'
        self._discovery_service_url = 'https://api.office.com/discovery/v2.0/me/services'

    def get_service_info(self, access_token):
        """Send request to discovery service. Return ServiceInfo
        for valid services.

        Args:
            access_token (str): A valid access token for resou

[2018-11-05 09:16] segalion commented on #139
May be  same problem as posted here:
https://github.com/OneDrive/onedrive-sdk-python/issues/119#issuecomment-379048581
With new created accounts, service discover dont works.

Usually, all people here are using accounts created before, that will work fine until nov-2019

If yours is the same problem than this, you have to wait at least 1 year for someone to solve.

[2018-12-29 08:06] tfitzhardinge opened #140 "We're unable to complete your request- authentication issue"
Hi

I want to authenticate my onedrive drive personal account using python. Ultimately when I click into the auth URL the webpage does not generate a code.

When I execute the following code via a terminal in pycharm and clicked on the URL link it brings me to a MS webpage which states

"We're unable to complete your request". And does not generate the code

I am coding the file in python 3.6 usin

[2019-01-06 05:14] wekan8 opened #141 "It doesn't work for that some API is deprecated"
I used this code and it has response an error:

response:
{u'error': {u'message': u'The app ID is blocked for access of the O365 Discovery Service.', u'code': u'101, Microsoft.Online.Services.O365Discovery.O365DiscoveryException'}}

https://social.msdn.microsoft.com/Forums/azure/en-US/d640a9ec-09f0-4c75-9883-93d153f6c07d/the-app-id-is-blocked-for-access-of-the-o365-discovery-service?forum=Office36

[2019-01-15 19:32] ALEERQUESON2DIAS opened #142 "PYINSTALLER attibuteError"
Hello,

I have a program source with python v3.7.2 that uses ONEDRIVESDK and works fine using the python interpreter and the source program

CMD------>  **py -3** odacce.py a:/odparm.json QUO
RESULTS-->  Total Size: 115.0GiB, Used: 48.9GiB, Remaining: 66.1GiB, Deleted: 159.6KiB,
                      Your state is: normal
CMD-------> **py -3** odacce.py a:/odparm.json FID od:/DAT/A/file.txt
RESULT

[2019-01-24 05:56] jayesht1996 opened #143 "Convert docx to pdf directly at the time of downloading using sdk"
I have uploaded docx file in my onedrive account and i want to download it as pdf. As per onedrive documentation it is possible to download using .format(pdf) option. But how we can download same using this onedrive-sdk-python.

For downloading i am using following command:-
client.item(drive='me', id='root').children["nice.docx"].download("nice.docx")

[2019-01-27 14:53] guybartal commented on #140
happens to me too

[2019-02-16 07:40] hoangvietfreelancer opened #144 "Download and upload whole folder from one drive personal"
I want to download and upload a folder from onedrive to my pc using linux. How can i do that?

[2019-02-25 06:17] canine-afficionado commented on #140
Me too - does anyone know how to work around this?

[2019-02-26 13:43] ALEERQUESON2DIAS opened #145 "Desperate trying to generate an executable ..."
I have a simplified source to the extreme to use ONEDRIVESDK in accessing OneDRive. The source is the following:

   1 import onedrivesdk
   2 wrkclient = onedrivesdk.OneDriveClient
   3 print("CLASS    wrkclient--> ", wrkclient)
   4 wrkitem = wrkclient.item
   5 print("FUNCTION wrkitem----> ", wrkitem)

This source executes correctly  with the Python interpreter ...
   P:\>python yyacce.py
   CL

[2019-03-09 00:27] etalot opened #146 "Auth issue"
Auth issue:

[code]

[2019-03-12 10:56] ThibTrip commented on #141
Hi,

I think I have the same problem as you (see below) when accessing a business account (works fine with a private account though).

`{'error': {'code': '101, Microsoft.Online.Services.O365Discovery.O365DiscoveryException', 'message': 'The app ID is blocked for access of the O365 Discovery Service.'}}
`

I am a bit lost do you have a simple explanation or a ready to execute code somewhere?

I us

[2019-04-11 20:39] jpatel3 commented on #41
What if I have `accesstoken`, I think there should be a way to use that to make required call to api?

I am using [onedrive picker](https://docs.microsoft.com/en-us/onedrive/developer/controls/file-pickers/js-v72/?view=odsp-graph-online) code to get file details and `accesstoken` and would like to request the file download from python backend. While following the code provided in the readme, it th

[2019-04-11 21:29] jpatel3 opened #147 "Downloading specific sheet from excel"
I am using [one drive file picker](https://docs.microsoft.com/en-us/onedrive/developer/controls/file-pickers/js-v72/open-file?view=odsp-graph-online) to open the one drive and select the file from user's drive. Specifically excel and csv files. I would like to download specific sheet from the excel, is there option in the api to do that?

[2019-05-10 13:48] shellwhale opened #148 "NameError: name 'raw_input' is not defined"
Authentification code sample from the README.ME is wrong.

[code]

`raw_input()` was renamed to` input()` in Python 3

[2019-05-10 14:05] shellwhale opened #149 "README.MD never explains the base_url variable"
Saving and Loading a Session code sample mention a `base_url` variable but never explains it.
https://github.com/OneDrive/onedrive-sdk-python#saving-and-loading-a-session

What should it contains ? Wouldn't it be `api_base_url` instead ?

[2019-05-15 11:21] AnupamaShukla opened #150 "How to upload file to one drive via application without client id and secret key"
Hi,

I have seen so may posts for uploading file to one drive. But If we look at the steps, First mandatory thing I saw is to create App in one drive and generate client id and secret key. This client id and secret key is need to pass as a part of authentication url. Also redirect_uri is also need to specify.

If we manually upload file to onedrive, we just need user name and password and there is

[2019-05-16 11:18] lsaint opened #151 "AADSTS500201 error"
When i run the demo code , the browser  popup a  message box like this:

AADSTS500201: We are unable to issue tokens from this API version for a Microsoft account. Please contact the application vendor as they need to use version 2.0 of the protocol to support this.

how should i do ?

[2019-05-21 19:37] andreabisello commented on #150
@AnupamaShukla have you find any solution? i'm searching for the same thing. Due the official onecloud client is not user friendly, and i only want to upload a file, i'm trying to develop my personal upload-client.

[2019-06-11 15:15] kchojn opened #153 "Authentication - GetAuthCodeServer without webbrowser.open and http GET stdout"
Hi,
Is it possible to authenticate **WITHOUT** 2 things:
- without opening new page - `webbrowser.open(auth_url)` in **GetAuthCodeServer.py**
- without getting GET response on stdout during `code = GetAuthCodeServer.get_auth_code(auth_url, self.__REDIRECT_URI)`; without this print:
![Adnotacja 2019-06-11 171411](https://user-images.githubusercontent.com/43881785/59284318-5ad86b00-8c6c-11e9-92a6-4a

[2019-06-12 15:38] kchojn commented on #153
One more; is it possible to sign in without having a browser? I would like the user to be able to log in without a browser every time. Connection with params like login, password, client_id, client_secret should allow me to navigate the disk

[2019-06-21 06:17] ferstar commented on #153
need this feature too

[2019-07-07 13:48] npitsillos opened #154 "Access shared folder through webapp"
Hello,

I want to ask whether it is possible to access a shared OneDrive folder using the shared link through a webapp with no user interaction whatsoever.  For example by authenticating the webapp using a set of credentials with the API or sdk behind the scenes so the user will be served the shared folder as if they clicked on the shared link.  Is this possible? All methods of accessing require a

[2019-07-19 19:15] tscholze opened #155 "Scopes in tutorial are no longer available. What are the scopes I have to use now?"
After May 2019, the "old" Azure AD App API permissions are no longer available.
I guess this means, that the scopes `['wl.signin', 'onedrive.readwrite']` are no longer available.

What scopes should I use now?

Thanks!

[2019-07-19 19:16] tscholze commented on #140
+1. Did somebody found a solution? :)

[2019-07-19 19:53] tscholze commented on #129
Neither do I. But what's the replacement? Graph API does not work for OneDrive Personal.

Did you find another SDK which works? @tigercosmos, @ecebuzz?

[2019-07-21 15:39] tigercosmos commented on #129
I thought it still works, but it is just not maintained anymore.

[2019-08-01 14:59] remort commented on #54
Now import it like that: `from onedrivesdk.session import Session`.

[2019-08-01 15:03] remort opened #156 "Cant import `Session` to get OneDrive API client object based on customer's access_token."
It seems that `__init__.py` of onedrivesdk doesn't contain `from .session import Session` anymore, so I can't import `Session` from `onedrive` module.

I need Session class to get able to access to onedrive api upon customer's access_tokens which I handle myself. See https://github.com/OneDrive/onedrive-sdk-python/issues/54

[2019-08-01 15:07] remort commented on #156
Imported it like that: `from onedrivesdk.session import Session`. Issue solved.

Would be nice if you document the case with getting `OneDriveClient` with pre-existing access_token.

[2019-08-02 03:59] darouwan opened #157 "Where can I get client_secret and client_id?"
When I tried to get them on https://developer.microsoft.com/zh-CN/graph/quick-start, it shows:

[2019-08-02 05:29] #157 closed, assigned to nobody

[2019-08-02 05:29] darouwan commented on #157
Found here https://portal.azure.com

[2019-08-02 07:16] remort commented on #156
Obtaining customer access_token like described here:
https://docs.microsoft.com/en-us/graph/auth-v2-user?context=graph%2Fapi%2F1.0&view=graph-rest-1.0
I am able to use file API via HTTP REST, but get 'unauthenticated - Authentication failed' when try to get onedrivesdk client using this access token. Scope is `files.readwrite.appfolder offline_access`.

[2019-08-02 11:11] remort commented on #156
We should use exactly this auth flow:
https://docs.microsoft.com/en-us/onedrive/developer/rest-api/getting-started/graph-oauth?view=odsp-graph-online#code-flow
with `onedrivesdk` library.
This flow gives proper tokens for this lib.

I solved my issue.

[2019-08-03 04:44] darouwan opened #158 "Do I have to set a redirect_uri?"
I just want to upload some files to onedrive, where I think a url or a web host may be not necessary for me.

So do I still have to set a redirect_uri?

[2019-08-03 11:01] DeSireFire commented on #158
emm...I think yes.
You can have to set a redict_uri by 'https://od.cnbeining.com'

[2019-08-03 16:00] darouwan commented on #158
Hi @DeSireFire
Thanks for your help.
But when I set od.cnbeining.com as my redirect_uri in my azure app center, it shows:

[2019-08-03 16:01] darouwan commented on #158
Thanks @DeSireFire
But when I set od.cnbeining.com as my redirect_uri in my azure app center, it shows:

[2019-08-03 16:08] DeSireFire commented on #158
![image](https://user-images.githubusercontent.com/18726905/62414272-ba8b3b00-b64b-11e9-837f-215bee29db83.png)
try again~
啧，我看了一下你的博客，是国人，我直接说中文好了。
![image](https://user-images.githubusercontent.com/18726905/62414409-5ec1b180-b64d-11e9-9306-584de33807d4.png)
azure注册的应用程序里redirect_uri如图那么写就OK了。
https://od.cnbeining.com
是属于https://github.com/cnbeining/onedrivecmd 项目里的redirect_uri，我偷懒就直接拿来用了。
你注册的应用程

[2019-08-03 23:04] darouwan commented on #158
@DeSireFire 感谢~之前是没删除之前的配置， 所以显示错误~
现在azure已经那么填写， 但本地启动的时候会报错 [Errno 49] Can't assign requested address

[2019-08-03 23:30] darouwan commented on #158
原来我用的是第二种验证方法~现在照着cnbeining那个项目用第一种方法验证， 但仍然报错 Exception: invalid_client

[2019-08-03 23:45] darouwan commented on #158
ok 现在第一种验证方式成功了， 但第二种仍然会报
`OSError: [Errno 49] Can't assign requested address
`

[2019-08-04 03:41] DeSireFire commented on #158
我没有这种情况，你用的是商业版的onedrive吗？

[2019-08-04 23:45] darouwan commented on #158
@DeSireFire
现在问题解决了~
主要问题是 第二种验证方式, 不能使用https://od.cnbeining.com作为重定向uri, 而是需要使用localhost

[2019-08-05 02:31] DeSireFire commented on #158
第二种验证方式，是指
https://docs.microsoft.com/en-us/onedrive/developer/rest-api/getting-started/graph-oauth?view=odsp-graph-online
里的 “Code flow” 吗？

[2019-08-05 02:53] darouwan commented on #158
就是readme里面的第二种，不需要复制那个code，可以直接在Web里验证

发自我的华为手机

-------- 原始邮件 --------
主题：Re: [OneDrive/onedrive-sdk-python] Do I have to set a redirect_uri? (#158)
发件人：RaXian
收件人：OneDrive/onedrive-sdk-python
抄送：JF Chen ,Author

@DeSireFire<https://nam01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FDeSireFire&data=02%7C01%7C%7Cc03f00b86ac44bdd61f608d7194d013f%7C84df9e7fe9f640afb435aaaaaaaaaa

[2019-08-05 03:05] DeSireFire commented on #158
原来如此，感谢提醒。
因为我看到其他issue有人说这个sdk有些地方淘汰了，所以根据了第一种方的法流程用requests_oauthlib重新构造了一个方法。
第二种方法显然更方便。

[2019-08-05 03:29] darouwan commented on #158
是的~ 第二种更像正常的oauth验证过程, 不知道只是Onedrive这样, 还是微软其他服务都这样

[2019-08-09 13:49] olav-st opened #159 "How to access special folders?"
Hi, I'm trying to access my app folder (using the permission `onedrive.appfolder`). According to the documentation, this is a [special folder](https://docs.microsoft.com/en-us/onedrive/developer/rest-api/api/drive_get_specialfolder?view=odsp-graph-online). How can I access such folders using the Python SDK? I have tried calling:
[code]
But it throws an exception:
[code]
To debug this issue I modif

[2019-08-10 05:13] darouwan opened #160 "Any easy way to upload a file to a specific directory?"
I am willing to upload a file to a specific directory, like upload new.txt to new_dir/new.txt
However, it seems I must find the directory id firstly then upload the file.
Is there any convenient way to implement it?

[2019-08-15 20:57] arty-hlr opened #161 "download_async, "yield from wasn't used with future`, and downloading large files errors"
Hi,

I'm trying to download files from my OneDrive, and at times I get this:
[code]
which I saw in other issues for uploading errors where it was advised to use `upload_async` instead of `upload`.

Trying the same with `download_async`, just changing from `client.item(drive='me', id=item.id).download(filename)` to `client.item(drive='me', id=item.id).download_async(filename)` just goes through it

[2019-08-15 21:19] arty-hlr commented on #161
Even weirder, running the same `list(client.item(drive='me', id=item.id).download(filename))` on another laptop, I now get:
[code]
which is the same kind of error, but now it does download for a few seconds while giving that error and than crashes!

[2019-08-19 20:31] olav-st commented on #159
I ended up sending the request manually as a workaround:
[code]

[2019-08-22 11:23] sumurthy opened #162 "Discovery API deprecation impact"
The discovery API is being deprecated. Please upgrade the SDK or mark as not supported.

Refer here for details: https://developer.microsoft.com/en-us/office/blogs/upcoming-deprecation-of-discovery-service-api/

[2019-08-23 18:13] gmagannaDevelop opened #163 "Unable to install via pip on MacOS Mojave 10.14"
I wanted to install onedrive-sdk to manage my files on OneDrive. I created a conda environment with Python 3.5 with the following modules:

1. pip
2. requests
3. pillow

I proceeded to run:
`pip install onedrivesdk`

Which threw the following **error**:

Collecting onedrivesdk
  Using cached https://files.pythonhosted.org/packages/b3/76/9a3fe5b36079f5c40b33c89ad6f7737e3b8609010a80c9ed24d762ddb93e/

[2019-09-03 13:10] Suryaphalle opened #164 "OneDrive for Business - New Apps will not work due to Office 365 Discovery API Deprecation"
Hi,

I was started using onedrivesdk for uploading and downloading files to the one drive personal account. I was able to upload and download files using same sdk.
But when i used same sdk for  business account it shown me error.

The error message you get in the console unfortunately and frustratingly buries the underlying error, which I had to debug through to find. The actual error message turn

[2019-09-07 10:11] EbrahimKaram commented on #163
I have the same error popping up. But I'm trying to install the package on  raspberry pi via python3

I currently have
pip=19.2.3
Python=3.7.3

Raspberry pi is raspbian buster

[2019-09-08 19:56] Liz4v commented on #163
I had the same problem. Upon further investigation, I discovered that the currently-available PyPI package has absolutely nothing to do with this repository; it now has a no-op deprecation notice that doesn't even work and is otherwise empty.

This applies to all platforms.

[2019-09-26 10:57] asiron commented on #163
Same problem on Ubuntu 18.04

[2019-09-29 04:28] EbrahimKaram commented on #163
I ended up just using the requests Oauth Library
https://requests-oauthlib.readthedocs.io/en/latest/
And I read the docs for the microsoft Graph API
https://docs.microsoft.com/en-us/graph/api/driveitem-put-content?view=graph-rest-1.0&tabs=http

[2019-10-01 09:28] philshem opened #165 "example code. raw_input() is from Python 2"
Regarding this sample code:
https://github.com/OneDrive/onedrive-sdk-python/blob/master/README.md#onedrive

Python3 uses `input()` in place of `raw_input()`

[2019-10-04 08:44] HemabhKamboj commented on #163
Having the same issue on Ubuntu 18.04

[2019-10-14 19:32] gmagannaDevelop commented on #163
So there's no answer or support for this sdk?
Will it ever be?

If there's no plan to fix it or update, I'd like to have some news from the team working on it.

Why is there a package on PyPI with the same name but no relation to this repo?

[2019-10-21 02:46] zain910128 opened #166 "Error while installing on Google Colab"
When i use the install command on google Colab, i get the following error:
ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.

[2019-10-23 01:42] ricdea commented on #163
I had the same on a Raspberry Pi but the following worked:

`pip3 install git+https://github.com/OneDrive/onedrive-sdk-python.git`

[2019-10-27 18:09] gmagannaDevelop commented on #163
@ricdea You're right. Installing giving the github repo works. Marking this as closed.

[2019-10-27 18:09] #163 closed, assigned to nobody

[2019-10-29 23:51] billzhong commented on #163
Install from github repo is not the solution. Any plan to fix pip install?
@gmagannaDevelop This issue should keep it open.

[2019-11-04 09:42] QGB opened #167 "pip install --user onedrivesdk : NotADirectoryError: [Errno 20] Not a directory NOTICE.rst"
In [63]: pip install --user  onedrivesdk
Collecting onedrivesdk
  Using cached https://files.pythonhosted.org/packages/b3/76/9a3fe5b36079f5c40b33c89ad6f7737e3b8609010a80c9ed24d762ddb93e/onedrivesdk-2.0.tar.gz
    ERROR: Complete output from command python setup.py egg_info:
    ERROR: Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-install-kwl8twt

[2019-11-04 19:28] TheSeriousProgrammer commented on #167
yeah I am also having the same issue? you got a fix?

[2019-11-12 22:22] earonesty commented on #145
Looks like there is a file `onedrivesdk/version.txt` that has to be bundled with for distribution in your spec file.   NVM, that's not the least of it.

Looks like the SDK is doing some funky stuff with modules:

Check this code out in the `version_bridge/__init__.py`

`__all__ = [ os.path.basename(f)[:-3] for f in modules if not os.path.basename(f).startswith('_')]`

There's no way pyinstaller wi

[2019-11-12 22:33] earonesty commented on #145
You need to modify the specfile to include `onedrivesdk/version.txt`

[2019-11-13 21:37] earonesty commented on #167
You can try `pip install onedrivesdk-fork` ... a fork we built to deal with some of the issues we were having.   Also, we merged in some of the bugfixes people have posted.

[2019-11-13 21:38] earonesty commented on #129
It's not maintained.   We are trying to get a fork up-to-speed, but may give up and use the REST api directly unless there's significant interest.

[2019-12-03 20:00] earonesty commented on #164
Onedrive for business cannot, trivially, use the sdk.   While it is actually possible to use the graph api as the base url, and get some stuff to work.... not enough will work that you can do anything meaningful.   Use requests and requests_oauthlib directly... works much better, and the graph api is documented pretty well.

[2019-12-16 21:58] jkmartindale commented on #166
This library is deprecated, and the [latest version on PyPI](https://pypi.org/project/onedrivesdk/) is a stub that says it's deprecated:
![image](https://user-images.githubusercontent.com/11380394/70946284-2a56fc80-2014-11ea-8eb9-4e8f93a6216e.png)

You can either install the latest real version of the library with
[code]

Or install the community fork [onedrivesdk-fork](https://pypi.org/project/on

[2019-12-20 08:49] HasibulKabir commented on #167
If you want to install this repo try: `pip install https://github.com/OneDrive/onedrive-sdk-python/archive/master.zip` This may work.

[2020-01-10 18:41] rvernica commented on #167
@QGB I would update the title to `pip install NotADirectoryError: [Errno 20] Not a directory NOTICE.rst` I got the exact same error except for the kernel warning. I think that is particular to your environment.

Here is my output:
[code]

[2020-02-10 03:07] jackshifter commented on #122
Hi..Adding to_dict() at the end of upload_async is not working for me. Gives an error upload async has no method to_dict().
When I dont use to_dict(), there is no error.. Code runs successfully but the file doesn't get uploaded.

[2020-02-11 15:26] AlexisLessard commented on #167
Same error than @rvernica here. I tried installing onedrivesdk-fork, but I haven't managed to make it work with onedrived thus far (which is what I'm trying to install). I'd really like to get a fix :/

[2020-02-21 06:24] ddacunha commented on #163
@billzhong the question then is: Is this repo being maintained?

[2020-02-21 12:46] billzhong commented on #163
@ddacunha I don't think so. I end up making my own by using requests.

[2020-02-24 10:16] songhanpoo commented on #167
this worked for me ! many thanks !

[2020-03-11 12:49] username7171 opened #169 "ImportError: 'onedrivesdk' has been deprecated."
so basically this repository should be achieved?

[2020-03-14 21:15] KTibow opened #170 "Error when using sign in with server"
When I try to sign in, I get this error:
FileNotFoundError: [Errno 2] No such file or directory: '/home/pi/.config/chromium/SingletonLock
I think this started when I checked "Keep me signed in", but I've tried clearing all Microsoft cookies and it doesn't get any better. Does anybody know how to help me with this?

[2020-03-14 21:30] KTibow commented on #170
Ooopsies, the library wasn't the problem. Sorry! Thanks!

[2020-03-14 21:30] #170 closed, assigned to nobody

[2020-03-14 21:48] KTibow opened #171 "Can't upload file"
I'm trying to upload a file (it might be a bit large, but it's not giant) and I get this error:
Traceback (most recent call last):
  File "/home/pi/backup.py", line 35, in <module>
    returned_item = client.item(drive='me', id='root').children['backup'+str(time())+".zip"].upload('./backup.zip')
  File "/home/pi/.local/lib/python3.7/site-packages/onedrivesdk/request/item_request_builder.py", line

[2020-03-14 22:04] KTibow commented on #171
Looking at the stack trace a bit more, I see that I think it uploaded it but it wasn't able to parse the response.

[2020-03-14 22:08] KTibow commented on #171
I can manually upload it just fine. If I look at the files, I think it wasn't able to complete a finalization step or something, because the program uploaded version doesn't work.

[2020-03-14 22:15] KTibow commented on #171
The solution to #32 worked. Can you add a progress indicator please, though?

[2020-03-14 22:15] #171 closed, assigned to nobody

[2020-03-14 22:44] KTibow opened #172 "Add deletion"
I know it's usually a bad idea to add the ability to delete, because then ransomware might erupt, but I'm using this library to do backups and I want to delete the old ones to not let them fill up my OneDrive. Is there any way to do this?

[2020-03-14 22:47] KTibow commented on #172
What happens if I try to overwrite something?

[2020-03-14 23:07] KTibow commented on #169
I don't get that error, @AronWater. Make sure you installed this library, not [the deprecated version](https://github.com/mk-fg/python-onedrive/blob/master/doc/api.md). You may be able to upgrade by running
[code]
If this fixed your issue, consider closing it.

[2020-03-14 23:16] KTibow commented on #161
Can you change your title to:
"await wasn't used with future" and "yield from wasn't used with future" errors with downloading large files with download_async? It's a lot more clear and I think you might get a bit more help.
Also on the second one, basically it's saying instead of `yield from future` `yield from await future` should've been used.

[2020-03-15 01:40] KTibow commented on #172
Found it. You call .delete() on a client.item(). But can you please add better docs?

[2020-03-15 01:40] #172 closed, assigned to nobody

[2020-03-15 14:35] KTibow commented on #161
Looking at the examples, it is downloading, but I think it's doing it in the background. Have you tried something like the async example?
[code]
When you called `download()` I think it automatically sensed it was a large file and switched to `download_async()`.
This code example may or may not work:
[code]

[2020-03-15 14:49] KTibow commented on #161
Okay, this works:
[code]
I haven't tested it on a large file yet but it worked just fine on my test file.

[2020-03-15 16:56] KTibow commented on #171
Found the progress indicator.

[2020-03-15 17:31] KTibow commented on #122
@jackshifter try running the code in the Python 3 IDLE without to_dict and after the code finishes run type on the result. Can you upload a small file using regular upload?

[2020-03-15 17:31] KTibow opened #173 "Async uploads are blocking but async downloads are not"
You can get by this by running an async upload on a different thread or using

but this is odd behavior that should probably be fixed.

[2020-03-16 02:13] KTibow commented on #160
@darouwan, try using this code instead:
[code]
Consider closing your issue.

[2020-03-16 02:15] KTibow commented on #165
Fixed in #174

[2020-03-16 02:16] KTibow commented on #165
Duplicate of #148

[2020-03-16 02:21] KTibow commented on #146
You're using Python 2, @etalot. Try running this in Python 3. Also make sure you replaced the default client ID and Secret. (You can get them at https://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationsListBlade)

[2020-03-16 02:24] KTibow commented on #155
@tscholze It's 2020 and the scopes are still working. Consider closing your issue.

[2020-03-16 02:29] KTibow commented on #159
@olav-st what do you get if you do `client.drives.get()` instead of `drive.get()`? I only get one drive, personal, but try exploring with autocomplete.

[2020-03-16 02:31] KTibow commented on #166
@zain910128 @jkmartindale is this issue closed? I agree this is a problem that Microsoft needs to fix.

[2020-03-16 02:32] KTibow commented on #167
@QGB Is this fixed enough? There are many installation problems.

[2020-03-16 02:35] KTibow commented on #149
@shellwhale Autocomplete says the first parameter is `base_url`, and we do pass in `api_base_url` to that parameter in the rest of the examples. I've passed in `api_base_url` and it worked fine. Consider closing this issue.

[2020-03-16 02:37] KTibow commented on #149
Fixed in #174

[2020-03-16 02:47] KTibow commented on #143
@jayesht1996 the onedrive-sdk is supposed to be simple, so they probably don't have this issue. You can try looking for a Word-parsing API/SDK. If it makes sense, consider closing.

[2020-03-16 02:47] jkmartindale commented on #166
This issue will not be resolved as this is a deprecated/abandoned library. Use the workaround above.

No idea if that means this issue should be closed because no code change is "required" or if it should stay open so more people can find the workaround.

[2020-03-16 03:12] KTibow commented on #147
@jpatel3 An Excel file is a single file. You would need to try to find a program to parse Excel files.
Consider closing due to irrelevance.

[2020-03-16 07:04] #155 closed, assigned to nobody

[2020-03-16 14:16] KTibow commented on #151
@lsaint nobody else is having that issue. Given that the original makers of this SDK have stopped working on it, consider closing your issue if this isn't a problem anymore.
Given how old your issue is, consider that your version of the library might be outdated. You can install the latest version with
[code]

[2020-03-16 14:21] KTibow commented on #150
@AnupamaShukla that would be insecure. If apps took your user name and password, then they could access all of your Microsoft stuff. This way, when you click on "Accept" the app can only do OneDrive stuff. It may be possible to use Selenium or analyzing the web requests to generate the client ID and secret from account login, but personally I wouldn't give somebody else's app my Microsoft login.
C

[2020-03-16 14:27] KTibow commented on #140
Everybody, @tfitzhardinge, @guybartal, @b3nda1ley, @tscholze, if you look at the code there are two parts:

You need to register an app in [Azure](https://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationsListBlade). I have some docs on how in [my repo about backing up a Raspberry Pi to OneDrive](https://github.com/KTibow/raspberrypi-onedrive-backup). Once you get the creds, you can

[2020-03-16 14:33] KTibow commented on #127
@sathaley1 do you think that anybody else wants the same thing? Are you still working on this? Given that onedrive-sdk-python is supposed to be simple, if not, consider closing.

An alternative way is to use the `save_session()` function once. The next time, I call `load_session()`, `refresh_token()`, and when I'm done `save_session()` again. It saves it to a `session.pickle` file which I just mov

[2020-03-16 14:36] KTibow commented on #121
@terrainthesky1 You'd need to try to find a Excel Online API/SDK, or run a script in the cloud that downloads it and parses it. The OneDrive SDK is a simple SDK for working with everything OneDrive, not everything Office. Consider closing.

[2020-03-16 14:38] KTibow commented on #108
@nakioman does that solve your issue? Consider closing. If you think it should be part of the OneDrive SDK, keep in mind it's supposed to be a simple SDK.

[2020-03-16 14:42] KTibow commented on #120
@easy4dtam there is a `create_link()` attribute. You can try finding a Outlook SDK.

[2020-03-16 14:50] KTibow opened #175 "Mark labels"
I've been browsing through these issues, and there's a lot of duplicates, enhancements, and outdated/invalid issues. It would really help a lot of people to apply those three labels. If anybody who can wants to help, I think a lot of people would like it.

[2020-03-16 14:51] KTibow commented on #175
Can somebody please mark this as a enhancement?

[2020-03-16 14:53] KTibow commented on #2
Mark as enhancement? Python 2 is deprecated and this SDK is moving on to Python 3.

[2020-03-16 16:12] nakioman commented on #108
Yes, thanks

[2020-03-16 16:12] #108 closed, assigned to nobody

[2020-03-16 20:49] KTibow commented on #158
@darouwan I don't speak Chinese, but basically you do need to set the redirect_uri. When it authenticates you, it redirects to that. Set the redirect_uri to `http://localhost:8080/`. Please consider closing your issue.

[2020-03-16 20:50] KTibow commented on #162
It's 2020 and it still works, @sumurthy. Consider closing.

[2020-03-16 20:52] KTibow commented on #156
@remort if you solved your issue consider closing or changing your title.

[2020-03-16 20:55] KTibow commented on #154
@npitsillos here's the docs:
https://docs.microsoft.com/en-us/onedrive/developer/rest-api/concepts/using-sharing-links?view=odsp-graph-online
You can do the alike as many others and use the `requests` library to do it. Given that the OneDrive SDK is supposed to be simple, if you don't think other people want that functionality, consider closing your issue.

[2020-03-16 20:59] KTibow commented on #153
@ferstar and @kchojn you can run the code on another PC, save the session, and copy it over. Docs [here](https://github.com/OneDrive/onedrive-sdk-python#saving-and-loading-a-session). (The file to copy is called `session.pickle`.)

[2020-03-16 20:59] #154 closed, assigned to nobody

[2020-03-16 21:09] KTibow commented on #145
@ALEERQUESON2DIAS does the fork fix your issue? Are other people trying to generate an executable? If it makes sense, consider closing.

[2020-03-16 21:15] KTibow commented on #134
@vyacheslavparkhomenko here's the docs:
https://docs.microsoft.com/en-us/onedrive/developer/rest-api/concepts/using-sharing-links?view=odsp-graph-online
You can do the alike as many others and use the requests library to do it. Given that the OneDrive SDK is supposed to be simple, if you don't think other people want that functionality, consider closing your issue.

[2020-03-16 21:24] KTibow commented on #144
@hoangvietfreelancer I don't know if there's another way to do this, but as long as your folder doesn't have folders inside it, you could probably download/upload each file individually. I store my files as `.zip`s myself to save space, and zip before uploading. You can get a link for a folder successfully.
If I try to do a normal download for a whole folder, I get this message:
[code]
Consider cl

[2020-03-16 21:29] KTibow commented on #175
Some groups of issues that are duplicates are installation issues and Office-format related issues, just to give you a head start, @cdmayer @D4N14L and @wiktorn.

[2020-03-16 21:33] KTibow commented on #142
@ALEERQUESON2DIAS please close your first issue when you open your [second issue](https://github.com/OneDrive/onedrive-sdk-python/issues/145). Also, another technique to get attention is to @mention top contributors like cdmayer, D4N14L, and wiktorn.

[2020-03-16 21:36] KTibow commented on #141
It's 2020 and it's working for me, @wekan8. Try regenerating your `client_secret`, `client_id`, and upgrading your installation with
[code]
If this works, consider closing.

[2020-03-16 21:41] KTibow commented on #139
@ashu16815 here's how to fix this:
1. Regenerate your `client_id` and `client_secret` at [Azure](https://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationsListBlade).
2. Upgrade your library with
[code]
If that solved your problem, consider closing. It's 2020 and it's working for me fine.

[2020-03-16 21:51] KTibow commented on #135
@prakashpandey do you still have the issue? If it closes, then it received the text but didn't close, because it has to receive it and send code that tells the window to close. Try the other method:
[code]
Or try [saving the session](https://github.com/KTibow/onedrive-sdk-python#saving-and-loading-a-session) and copying the `session.pickle` file.
Troubleshooting:

- If you quit it with Ctrl-C whil

[2020-03-16 21:53] KTibow commented on #133
@DenisEvgrafov you can use the other authentication method:
[code]
If this solved your issue consider closing.

[2020-03-16 21:55] KTibow commented on #129
@tigercosmos It seems to work for me in 2020 without any deprecation notices.
I'm trying to get the top 3 contributors attention by @mentioning them in my [pull request](https://github.com/OneDrive/onedrive-sdk-python/pull/174) and my [issue](https://github.com/OneDrive/onedrive-sdk-python/issues/175).

Just so you know, the [onedrivesdk-fork is complete](https://pypi.org/project/onedrivesdk-fork/

[2020-03-16 22:06] KTibow commented on #126
@dfeinzeig it's saying you're trying to get the content of the current version. It's saying you if you want to find the content of the current version, you should use `item.download()`. Try changing which version you're trying to download.

[2020-03-16 22:08] KTibow commented on #125
@rschork Try again, because 2 years is a lot longer than soon, and maybe try `upload_async()` instead. If that helps, consider closing.

[2020-03-16 22:12] KTibow commented on #122
@Kansattica I just throw away the result from `upload_async()`, and it already blocks without calling `to_dict()`. Although when I download it is async, as I said in #173.

[2020-03-16 22:15] KTibow commented on #123
@dbsanfte your link currently redirects to [dogedoge](https://www.dogedoge.com/), so I don't know what you're talking about. We can spin up a server though so we don't have to deal with copy/pasting with this:
[code]
If that helped consider closing.

[2020-03-16 22:18] KTibow commented on #124
@pertoft that simply means there isn't another page. Instead of returning `None`, it throws an exception. I agree that should be changed to returning None, though.
Considering helping the community by letting them find this issue, if it makes sense, consider closing.

[2020-03-16 22:22] KTibow commented on #120
@easy4dtam here's the sharing docs: https://docs.microsoft.com/en-us/onedrive/developer/rest-api/api/driveitem_invite?view=odsp-graph-online

[2020-03-16 22:23] KTibow commented on #120
Use the `item.invite()` method.
Consider closing.

[2020-03-16 22:26] KTibow commented on #118
@jjorissen52 upgrade your library with
[code]
and try running again.
If that works, consider closing.

[2020-03-16 22:29] KTibow commented on #119
@zioalex, @ivanskj, @ruhveen, @jwatsn, @segalion, upgrade your library and client_id/client_secret. I'm not using OneDrive for business, but this impacts every kind of OneDrive, and for me it works.

[2020-03-16 22:32] KTibow commented on #117
@app5000 and @easy4dtam this is how I do it:
[code]
This automatically refreshes the token.
If this solves your problem consider closing.

[2020-03-16 22:38] KTibow commented on #115
@DataSapient I recommend you have this behavior implemented in your PR:
1. Include it in the docs
2. By default remove unicode characters
3. Raise a warning when it removes unicode characters, by default
4. Have an option on whether to remove unicode or not
5. If they manually say they want to remove unicode not raise a warning
That should keep everyone happy.

[2020-03-16 22:39] KTibow commented on #114
@gojohnkevin #116 mentions that it closes this. Update your library and try again. If it's fixed, consider closing.

[2020-03-16 22:45] KTibow commented on #111
@rkhwaja I'm updating the docs. Can you outline how it goes? (I can't copy your work due to the CLA.)

[2020-03-16 23:12] KTibow commented on #103
@papou-github @edgaru @oleo65 I don't have this issue when uploading 4.62 GB files. Try upgrading onedrive-sdk and regenerating your client_id and client_secret.

[2020-03-17 05:49] hoangvietfreelancer commented on #144
Sorry for the inconvenience. I forgot this issue so I didn't close it.

[2020-03-17 05:49] #144 closed, assigned to nobody

[2020-03-17 07:18] rkhwaja commented on #111
I don't know - I was asking someone from Microsoft to clear it up for me. I'm not using this library anymore - I thought it stopped working.

[2020-03-17 10:39] remort commented on #156
@KTibow documentation should be updated at least for this issue to be solved.

[2020-03-17 13:43] KTibow commented on #111
@rkhwaja The library does still work. The previous [python-onedrive](https://github.com/mk-fg/python-onedrive) redirects to this. What's the link to the python msgraph package?

[2020-03-17 13:45] KTibow commented on #156
@remort I'm confused what your issue was. The onedrive-sdk docs work for me.

[2020-03-20 02:34] #151 closed, assigned to nobody

[2020-03-24 01:55] zain910128 commented on #166
I think keep it open since the problem hasn't been fixed officially.
Plus, others can find the work around.

On Sun, 15 Mar 2020, 22:48 James Martindale, <notifications@github.com>
wrote:

[2020-03-24 19:46] KTibow opened #177 "Connection refused when upload_async()"
This is the traceback:
[code]
Does anybody know the cause of this, or how to fix this?

[2020-03-29 17:26] KTibow commented on #111
The msgraph package is a fork. Usually the main repo is the father of the fork.

[2020-04-03 04:37] fei-fang opened #178 "Authentication error: unauthorized_client"
I wanna try running the following code:

_redirect_uri = 'http://localhost:8080/'
client_secret = '***'
client_id='700d805e-d442-4af0-a4b1-b17a1201bb5f'
api_base_url='https://api.onedrive.com/v1.0/'
scopes=['wl.signin', 'wl.offline_access', 'onedrive.readwrite']
http_provider = onedrivesdk.HttpProvider()
auth_provider = onedrivesdk.AuthProvider(
    http_provider=http_provider,
    client_id=clien

[2020-04-07 08:15] fei-fang commented on #178
fyi, I'm using an organization account

[2020-04-08 02:41] KTibow commented on #178
Make sure you copy just the URL, no quotes. You can share it and hide details if needed.

[2020-04-08 03:10] fei-fang commented on #178
Hi KTibow,

Thank you for your reply!
If you mean the redirect URL, I'm quite sure I copy the right URL 'http://localhost:8080/'. Because I used my own personal account to try this yesterday, it worked well. So I think the issue may be from my official account settings, do you know what settings or access should the account satisfy to achieve this api?

Thanks!

[2020-04-08 13:56] KTibow commented on #178
I don't really know about different types of accounts. By exactly, I mean the bit where it gives you the URL that you open in your browser.

[2020-04-27 20:46] #123 closed, assigned to nobody

[2020-05-04 23:34] rolandolindberg commented on #167
This work for me too

[2020-05-05 01:54] KTibow commented on #167
@rolandolindberg I think it's better to use `pip3 install git+https://github.com/OneDrive/onedrive-sdk-python.git` instead, Github is made for Git.

[2020-05-05 11:55] ashish453 opened #179 "OSError: [Errno 98] Address already in use"
I am using Google Colab.
I installed onedrive-sdk-python by doing:

`pip install https://github.com/OneDrive/onedrive-sdk-python/archive/master.zip`
And this is my authentication code:

[code]
And I got this error:
[code]

[2020-05-05 13:45] KTibow commented on #179
What OS are you running on? First, if you're on Linux/Mac, sometimes running as root fixes this. What this means is that this was supposed to be for port 8080, but an application is already using that port. By the way, here's some better formatting for your issue:
I am using Google Colab.
I installed onedrive-sdk-python by doing:
[code]
And this is my authentication code:
[code]

And I got this er

[2020-05-05 16:19] Ashish45351 commented on #179
So how to solve it?

[2020-05-05 16:39] ashish453 opened #180 "OSError: [Errno 98] Address already in use`"
I am using Google Colab.
I installed onedrive-sdk-python by doing:
[code]
And this is my authentication code:
[code]

And I got this error:

[code]

_Originally posted by @KTibow in https://github.com/OneDrive/onedrive-sdk-python/issues/179#issuecomment-624064609_

[2020-05-05 16:48] KTibow commented on #179
@Ashish45351 Is this your second account? Anyway, try running it as admin/root/sudo. Also try rebooting.

[2020-05-05 16:49] KTibow commented on #180
Try rebooting your computer, and running your code as administrator/root/super user.

[2020-05-05 16:57] ashish453 commented on #180
Well I can't. I am using Google Colab.
My notebook on google colab is runing on 64 bit, 12 GB ram and python 3.6. That all what i know.

[2020-05-05 17:44] KTibow commented on #180
@ashish453 You won't be able to do that, then. Even if this worked, you'd need to be able to type things into a web browser that popped up on the Google Colab computer. This was meant to work on machines with an accessible desktop GUI, but a Google Colab computer is basically a command prompt that can run your code. Consider closing, as this is not related to `onedrive-sdk-python` but more related

[2020-05-05 18:28] ashish453 commented on #180
so isn't there any way to upload files in onedrive  business from google colab?

[2020-05-05 18:29] KTibow commented on #180
@ashish453 use the other code sample instead:
[code]

[2020-05-05 18:34] ashish453 commented on #180
**_The above code requires copy-pasting into your browser and back into your console. If you want to remove some of that manual work, you can use the helper class GetAuthCodeServer. That helper class spins up a webserver, so this method cannot be used on all environments._**
I didn't get this instruction.
can you please explain me what to do before and after running the code..

[2020-05-05 18:35] KTibow commented on #180
@ashish453 it will generate a URL that you open in another tab. It gives you some stuff, and you copy and paste it back in.

[2020-05-05 18:36] KTibow commented on #180
@ashish453 why don't you just run it on your own computer?

[2020-05-05 18:40] ashish453 commented on #180
Well I am using Google colab to download the large files from internet. As it gets downloaded very fast and then i need to upload it in onedrive. Using my PC it will consume terrible amount of time as i didn't have server as fast as google has to download 80 gb of files daily.

[2020-05-05 18:43] KTibow commented on #180
@ashish453 do it on your own computer, [save your session to a pickle](https://github.com/KTibow/onedrive-sdk-python#saving-and-loading-a-session), and [upload the pickle file and use it instead](https://github.com/KTibow/onedrive-sdk-python#saving-and-loading-a-session).

[2020-05-05 18:53] ashish453 commented on #180
I can't log in into my account via the url generated by the code.
When I enter my email It says
_**That Microsoft account doesn't exist. Enter a different account or get a new one.
**_
But I do have onedrive account with my email.

[2020-05-05 18:55] KTibow commented on #180
@ashish453 try it again. If it still doesn't work see if you can log into [online onedrive](onedrive.live.com) with the same email and password.

[2020-05-05 18:59] ashish453 commented on #180
Yes i did.
I can login by onedrive official page but i can't access my account from code generated link.

[2020-05-05 18:59] ashish453 commented on #180
I have Onedrive For Business.

[2020-05-05 19:08] KTibow commented on #180
Try
[code]

[2020-05-05 19:14] ashish453 commented on #180
Now I can Sign up but got another problem.
[](url)
![Screenshot (7)](https://user-images.githubusercontent.com/63253424/81106166-d30ae780-8f34-11ea-9ab2-f058a85925d9.png)

[2020-05-05 19:32] KTibow commented on #180
That is success, @ashish453! Copy the address. Run this code and paste in the address:
[code]
Copy what it outputs, and put it into the first code. I'll walk you through the next part.
Let me know when you're ready.

[2020-05-05 20:05] KTibow commented on #179
@ashish453 @Ashish45351 Can you close this? It clutters up everything.

[2020-05-06 04:00] #179 closed, assigned to nobody

[2020-05-06 04:05] ashish453 commented on #180
@KTibow!
**In this line I did some changes:**
[code]
**As compiler suggested:**
`MissingSchema: Invalid URL 'login.microsoftonline.com/common/oauth2/token': No schema supplied. Perhaps you meant http://login.microsoftonline.com/common/oauth2/token?`
**But when I do Run this :**
[code]
[code]

**And  paste the url in the code:**
`print(input("Paste the address and press enter: ").replace("http://lo

[2020-05-06 16:57] ashish453 commented on #180
@KTibow I'm waiting for your reply.

[2020-05-06 18:35] ashish453 opened #181 "JSONDecodeError: Expecting value: line 3 column 1 (char 4)"
**when I Run this :**
[code]
**I get an url.I open the url and sign in to my OneDrive for Business account. I did copy all the stuff after code= and paste below**
[code]
**I got this error:**
[code]
What can I do now?

[2020-05-06 18:42] #180 closed, assigned to nobody

[2020-05-07 17:36] KTibow commented on #180
@ashish453 I don't know what this is. I lost internet, so I couldn't see that you said that. Please edit your code out; it lets anyone have access to your account. You'll also need to delete the previous iteration. As for that, remove `&session_state=e093b529-c981-4e01-b095-8db161662c73` so you just have the code:
**The code has been removed for your safety**

[2020-05-07 17:38] KTibow commented on #181
@ashish453 I've told you how to fix this back in #180, please close this duplicate.
(I really try to keep this repo's issues managable. It means a lot to me for every issue closed, even though I'm not related to Microsoft/OneDrive at all.)

[2020-05-07 20:50] KTibow commented on #180
@ashish453 Please confirm that you've gotten the code.

[2020-05-08 13:43] KTibow commented on #180
@ashish453 I am deleting this today. Please confirm you have the code.

[2020-05-08 19:37] KTibow commented on #180
@ashish453 @Ashish45351 in 1 hour, I am removing the code.

[2020-05-09 07:14] #181 closed, assigned to nobody

[2020-05-09 07:25] ashish453 commented on #180
@KTibow  This doesn't work. I am still gting the same error again after removing &sesi.............
By the I do find an alternative for my task. I found Mover.io by Microsoft did the same work without any code. And That was extermely fast.

But I still want Onedrive-sdk to do this work.

[2020-05-09 19:11] KTibow commented on #180
@ashish453 your code has expired. Please start from the beginning.

[2020-05-10 02:16] ashish453 commented on #180
@KTibow I had started from very much beginning. Still same error. It worked for OneDrive personal but it's not working for OneDrive business.

[2020-05-10 13:38] KTibow commented on #180
@ashish453 Try using the same code but with [onedrivesdk_fork](https://github.com/AtakamaLLC/onedrive-sdk-python). You'll need to change everywhere it says `onedrivesdk` in the code to `onedrivesdk_fork`.
By the way, we can still see the code if you look at the edit history. You need to delete that revision.

[2020-05-13 02:49] ashish453 commented on #180
@KTibow  This is giving me same error. please help bro.

[2020-05-13 03:10] ashish453 commented on #180
**### I decided to make a change:**
[code]
### **In above code i just made the http to https**
[code]
**### and now i get some different error:**
[code]

[2020-05-13 03:42] KTibow commented on #180
Possibly related to #113

Sent from Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: ashish453 <notifications@github.com>
Sent: Tuesday, May 12, 2020 8:10:34 PM
To: OneDrive/onedrive-sdk-python <onedrive-sdk-python@noreply.github.com>
Cc: kendell <kendell.r@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [OneDrive/onedrive-sdk-python] OSError: [Errno 98

[2020-05-13 08:01] ashish453 commented on #180
@KTibow  So this error can,t be fixed
:(

[2020-05-13 14:02] KTibow commented on #180
Well, I don't know how. Since you're using `onedrivesdk_fork` though, try mentioning `@earonesty` to see if he knows any better than me.

[2020-06-01 14:31] utkarshdalal commented on #167
I have this issue too. I'm surprised this bug still exists over 6 months after it was first reported.

[2020-06-01 15:53] KTibow commented on #167
@utkarshdalal this repo isn't maintained anymore, as you can see. As for proof:
- Latest **commit**: [December 1st, 2016](https://github.com/OneDrive/onedrive-sdk-python/commit/e5642f8cad8eea37a4f653c1a23dfcfc06c37110)
- Latest **merged PR**: [Dec 1, 2016](https://github.com/OneDrive/onedrive-sdk-python/pull/86)

**Top 4 contributors by commits:**

- @cdmayer, 50 commits. **Last activity (whole Gi

[2020-06-13 02:58] jywsn commented on #112
Anyone ever figure out how to fix this?  I'm seeing this exact same "RuntimeError: There is no current event loop in thread 'Thread-31'." using Python 3.8.1. I'm not in any way explicitly starting it in a new thread.   I'm just redirecting at the browser window level to a Django view that tries to create an onedrivesdk.AuthProvider.

[2020-07-03 11:59] OD1995 commented on #151
@lsaint did you get this working in the end? I am getting the same AADSTS500201 error and installing the latest version, as suggested by @KTibow, has not had any impact. I am using the code [here](https://github.com/OneDrive/onedrive-sdk-python#onedrive-for-business).

[2020-07-03 13:44] KTibow commented on #151
@OD1995 try out the fork: https://github.com/AtakamaLLC/onedrive-sdk-python

[2020-07-03 16:08] OD1995 commented on #151
Thanks for the suggestion, @KTibow! Unfortunately, I have received the exact same error using that fork

[2020-07-03 16:21] KTibow commented on #151
@OD1995 can you share your exact code? (Just put `***` where the secrets are)

[2020-07-03 16:23] OD1995 commented on #151
@KTibow

[code]

[2020-07-03 16:25] KTibow commented on #151
Hmm... I don't know what's going on here. Can you try using the other code with the same ID and secret? Other than that, I can't help you, because I don't have OneDrive for Business.

[2020-07-03 16:27] OD1995 commented on #151
By other code, do you mean OneDrive code rather than OneDrive for Business code?

[2020-07-03 19:32] qo4on opened #182 "ImportError: 'onedrivesdk' has been deprecated."
What is the right way to upload, download files and create folders in Onedrive? Is there a Python library availiable today?

[2020-07-03 19:39] KTibow commented on #182
@qo4on try doing a `pip freeze`, then `pip uninstall` anything that sounds related to OneDrive.
Then install the more maintained fork with `pip install onedrivesdk_fork`.
One you're done, instead of `import onedrivesdk` use `import onedrivesdk_fork as onedrivesdk`.

[2020-07-03 19:42] qo4on commented on #182
Thanks! Is there any official python API for Onedrive?

[2020-07-03 19:47] KTibow commented on #182
This is the official API, it's just the original maintainers stopped maintaining it. `onedrivesdk_fork` *is unofficial*, but it's currently maintained, and it's your best bet as it was based off of the original one. Of course you can also look at the official API docs and just use `requests` to manually talk to the API.

[2020-07-03 20:04] qo4on commented on #182
Do you know where to find example of Onedrive authentication using `requests`?

[2020-07-03 21:33] KTibow commented on #182
Here's `onedrivesdk_fork`s opinion:

==================

If you are looking for an alternative api, consider using one of:
- requests-oauthlib for OAuth and requests + .json() for the direct REST calls
- authomatic

(Personally, I believe that the onedrivesdk needs a replacement with less marshalling and more documentation.)

[2020-07-06 09:42] lsaint commented on #151
I use Microsoft Graph instead.  Get or Delete a file in OneDrive is what we need, it's simple, it didn't take a lot work by using Microsoft Graph.

[2020-07-16 06:42] MihajaElrich commented on #122
@jackshifter  I have the same error as you, have you ever managed to fix it ?
Thanks

Python 3.6
onedrivesdk==1.1.8

[2020-07-16 14:05] KTibow commented on #122
@MihajaElrich you don't need to call `to_dict`. The returned value isn't useful at all from `upload_async`, and it is getting uploaded. Here's an example using progress in some of my code I've wrote:
https://github.com/KTibow/pi-DriveUp/blob/19c6acb1f90a453d5b6984b1f302049f79dd293b/backup.py#L112
https://github.com/KTibow/pi-DriveUp/blob/19c6acb1f90a453d5b6984b1f302049f79dd293b/backup.py#L34-L35

[2020-07-17 08:55] MihajaElrich commented on #145
@earonesty  When you remove these lines, **upload_async** doesn't work anymore, so you can't upload large files

[2020-12-03 07:00] enhee2706 commented on #177
Me too i have this problem.

[2020-12-04 14:44] KTibow commented on #177
@enhee2706 you might be able to try the other upload method in the meantime.

[2021-01-18 14:20] HiToshiNakamoto opened #183 "Cant Authenticate"
I'm a OneDrive Business User
im able to install one driveSDK
but im not able to go any further to authenticate
![image](https://user-images.githubusercontent.com/76832402/104926502-3f941c80-59c6-11eb-8517-748e73c3f795.png)
stuck here :-
![image](https://user-images.githubusercontent.com/76832402/104926552-50dd2900-59c6-11eb-924b-573d411a8a4d.png)

[2021-01-18 15:09] KTibow commented on #183
Looks like you're new to Python. I'd recommend you do some more research before you start. Your error is that before running, you're supposed to replace `your_client_id` with your client id, and `client_secret` with your client secret. Get them in Azure.

[2021-03-14 04:53] skye10 commented on #178
fei-fang, did you solve it? I have the same issue exactly.

My code:
[code]

When I paste the 'auth_url' in the browser I get:

`unauthorized_client: The client does not exist or is not enabled for consumers. If you are the application developer, configure a new application through the App Registrations in the Azure Portal at https://go.microsoft.com/fwlink/?linkid=2083908.`

[2021-03-18 20:18] username7171 opened #184 "activityApi missing?"
seems this repo is for uploading, downloading, editing.

Is there an activity monitoring API of onedrive in python?  Thanks!

[2021-03-19 01:11] KTibow commented on #184
This repo isn't very maintained. What do you want to do?

[2021-03-19 19:01] username7171 commented on #184
to see recent activity of a user manipulating the files. such as upload, download, edit .

Google provide this in https://developers.google.com/drive/activity/v2

[2021-03-19 19:36] KTibow commented on #184
Try looking directly at their API.

[2021-04-02 13:52] Gorparth opened #185 "How to get metadata of file or directories like size,modified or creation time,etc?"
client.item(id=item_id).
i've client and item id wanna get size and time.
please reply fast as project deadline is coming

[2021-04-02 19:59] KTibow commented on #185
This repo is abandoned. Anyway, could you elaborate on what you want do do? Try using autocomplete to look for functions (I know IDLE supports it).

[2021-04-03 13:00] Gorparth commented on #185
i got it it was just item name .get() and then .size.  e.g client.item(id=item_id).get().size

[2021-04-03 13:01] #185 closed, assigned to nobody

[2021-04-03 18:38] Gorparth opened #186 "which function is same as api.get(path_id,byte_range) in python3 onedrivesdk?"
I'm writing onedrivefs in python3 this onedrive sdk, i'm referring existing code of onedrive-fuse-fs in that read fuction has used this code
		def read(self, path, size, offset):
		    path_id = self._resolve(path)
		    return self.api.get(path_id, byte_range='{}-{}'.format(offset, offset+size))

i want to implement similar thing i've used download function from http-provider file that look like

[2021-04-04 14:11] KTibow commented on #186
On which line? It was hard to understand what you're saying.

[2021-04-04 14:46] Gorparth commented on #186
My question is which function in onedrivesdk will give output same as api.get() method.

the .download() function is returning full file at once, but i want it in chunks as api.get method is giving.

[2021-04-04 14:52] Gorparth commented on #186
line number 98 in onedrivefsnew.txt
in this file i've tried different methods but none of them worked

and what i want is in onedrivefsold.txt line number 191
[onedrivefsold.txt](https://github.com/OneDrive/onedrive-sdk-python/files/6254780/onedrivefsold.txt)
[onedrivefsnew.txt](https://github.com/OneDrive/onedrive-sdk-python/files/6254781/onedrivefsnew.txt)

[2021-04-04 16:16] KTibow commented on #186
Try playing around with autocomplete. That's how I find most functions in this library. BTW this repo is abandoned.

[2021-04-06 12:25] jakiyaa opened #187 "OneDrive for Business Cant Authenticate (error GetAuthCodeServer)"
![Screenshot 2021-04-06 172312](https://user-images.githubusercontent.com/67457538/113707507-a095db80-96fd-11eb-901e-ef21dc604fba.png)

working fine for onedrive personal  but **not working in OneDrive Business  cant get auth link**

my python instalation>
![Screenshot 2021-04-06 172527](https://user-images.githubusercontent.com/67457538/113707683-e05cc300-96fd-11eb-8cbe-6114f619f27e.png)

my app

[2021-04-06 12:39] jakiyaa commented on #183
you need to type your client id and client secret

 get client id and client secret in https://portal.azure.com/

[2021-04-06 13:36] KTibow commented on #187
Please give the full traceback.

[2021-04-12 14:12] Gorparth opened #188 "how to get quota total and used , what will be full syntax?"

[2021-04-12 14:15] #188 closed, assigned to nobody

[2021-04-12 14:15] Gorparth commented on #188
quota = self.api.drive.get().quota

[2021-04-14 04:49] Gorparth opened #189 "How to get client's mail id and search for specific file???"

[2021-04-14 10:08] Gorparth commented on #189
And How to search for some folder ? is there any direct function for that?

[2021-04-18 14:46] KTibow commented on #189
What is a mail id?

[2021-04-19 20:35] acmilannesta opened #190 "LocalHost refuse to connect"
Hi,

I'm trying to OAuth2 and set up redirect URL as following:
![image](https://user-images.githubusercontent.com/47703762/115299730-2f0e5200-a12d-11eb-9963-31b0010dabe0.png)

Here is my code:
[code]
But once I click the ```auth_url``` and select "yes" to allow access of all the scopes. Then the localhost refuse to connect.

[2021-04-20 13:59] KTibow commented on #190
*sighs* Vague descriptions never help in an issue. Please give a more exact error, and a screenshot.

[2021-04-20 14:09] acmilannesta commented on #190
Yes, I just try to automate file uploads to my OneDrive. So when I try to access my account, the authentication page should be direct to the "auth_url" right, but it fails to connect after I click it.
[code]

And shows the following
![image](https://user-images.githubusercontent.com/47703762/115410280-7eea2900-a1c0-11eb-82b4-335bdf4a7ac8.png)

[2021-04-20 20:21] KTibow commented on #190
Did you see the example base codes? Do any of them work?

[2021-04-26 14:45] Gorparth opened #191 "How to create empty file of any extension ??"
i want to create new file using python, where we have to just give filename with an extension and blank file is created, I'm trying with item
    path="/tmp.txt"
    item = onedrivesdk.Item()
    item.name = os.path.basename(path)
    item.size = 0
    item.file = onedrivesdk.File()
    client.item(path=os.path.dirname(path)).children.add(item)

but this is giving error: onedrivesdk.error.OneDrive

[2021-04-28 02:25] KTibow commented on #191
Try `File("")`

[2021-04-28 11:38] Gorparth commented on #191
doesn't seem to work, can you provide full function like aforementioned ?

[2021-04-28 11:40] Gorparth opened #192 "is there search function and resolve function?"
searching with name of file or folder and is there any function which is same as resolve function which was in previous version
?

[2021-04-28 19:51] KTibow commented on #192
What?
Could you try to elaborate and use better grammar? Also, could you add examples/links/screenshots?

[2021-04-28 19:53] KTibow commented on #191
Try `item.file = onedrivesdk.File("")`. However this may be a limitation with the API you can't change. Have you tried [googling](https://lmgtfy.app/?q=how+to+create+empty+file+onedrive+API) it yet?

[2021-04-29 02:52] Gorparth commented on #191
I used this item.file = Fil(""), and it is not giving error but when I'm adding this item(empty file) to the parent folder's childern list that time it is showing error  that can not add item.

Therefore I was asking for full function like what would be the steps to create file, like I've used this but something is wrong.

path="/tmp.txt"
item = onedrivesdk.Item()
item.name = os.path.basename(path

[2021-04-29 03:01] Gorparth commented on #192
Ya, is any search function in onedrivesdk, searching item based on mime_type?
Searching with specific name that may be either folder or file

Like I want to search example.pdf and mime type pdf ( just for example)

So how can I do that with onedrivesdk ?

I've written one search function but it is time consuming, if there is any search function in onedrivesdk only then it may be with less time com

[2021-04-29 03:04] Gorparth commented on #192
Resolve function gives id of the file from path, in previous there was fun cation named resolve, but in newer api doesn't have that but I found something similar to that

client.item(path=path).get().id

[2021-04-29 04:50] KTibow commented on #192
Is that possible with the plain API?

[2021-04-29 04:51] KTibow commented on #191
Let me say that again:

[2021-05-24 15:39] yeric1789 opened #193 "Possible to upload large files to One Drive same file?"
Hi,

I have a question regarding the way in which cloud storage could be uploaded to OneDrive. My organization has a OneDrive account and large amounts of storage on that one drive account. I currently have a script that writes each video frame to a txt file on my own hard drive in my physical computer like so:

[code]

instead of frame_compressed[0] being a path on my hard drive I would like it t

[2021-09-01 17:02] meetchandan opened #194 "what to set as redirect_uri to generate clientId and clientSecret?"
Sorry, this is not an issue - But I am unable find some good documentation on how to generate client Id and client secret to access onedrive.

The documentations I went through required me to enter a redirect_url, which is not relevant in my case. I just want to download and upload few files regularly to onedrive using python.
So I am not sure what redirect URL should I put.

Any help would be hig

[2021-09-05 08:03] meetchandan commented on #158
Hello @KTibow
I think we need to mention redirect_uri in the code?

`auth_url = client.auth_provider.get_auth_url(redirect_uri)`

#this will block until we have the code

`code = GetAuthCodeServer.get_auth_code(auth_url, redirect_uri)`

so what should be the value of it. My goal is just to access few files of my client's onedrive in python.
I am not sure what is the use of redirect_uri here. I hav

[2021-09-05 12:53] KTibow commented on #158
just so you know, I can't help you; the last time I worked on this was a year ago, and all of my knowledge is gone

[2021-09-26 15:41] KTibow commented on #194
As the guy who unofficially maintains this repository, here's a quick explanation: https://github.com/KTibow/pi-DriveUp#authentication for how to get the client id and secret.

The redirect URI is unrelated from the client id and secret. Just keep it as localhost. Let me know if you need any more help.

[2021-09-26 15:42] KTibow commented on #193
Could you clarify what you mean by

?

[2021-10-05 14:09] ekaterinaterzieva opened #195 "How to access file from a certain folder"
I only see examples with the root folder, how can I access other folders in my onedrive?

[2021-10-06 00:44] KTibow commented on #195
You should be able to just add the folder name first.

[2021-10-06 19:17] ekaterinaterzieva commented on #195
Can you give me an example of what's the right way to write the request because I tried in multiple ways and I keep getting different errors?

[2021-11-15 22:16] yuedai0531 opened #196 "invalid_client error when authenticating"
I keep getting invalid_client error when authenticating.
I went on Azure portal > App registrations and created an app. The client ID i am using is `Application (client) ID` that you find in the overview. I also created a client secret in `Certificates & secrets`.

Here are the error details:

  File "onedrivesdk_fork/auth_provider.py", line 200, in authenticate
    response = self._http_provider.

[2021-11-15 22:25] yuedai0531 commented on #196
more details on the error.
![image](https://user-images.githubusercontent.com/26657972/141862515-d222f4c0-723a-47be-a801-e4f25a9f660a.png)

[2021-11-15 22:44] yuedai0531 commented on #196
The error was with the client_secret
I was using client secret ID instead of Value
![image](https://user-images.githubusercontent.com/26657972/141864510-cd1c9de6-0c5b-4a57-8238-fe1424c505d5.png)

[2021-11-15 22:44] #196 closed, assigned to nobody

[2021-12-06 04:18] Dskpupper opened #197 "We're unable to complete your request invalid_request: The provided value for the input parameter 'redirect_uri' is not valid. The expected value is a URI which matches a redirect URI registered for this client application."
I mentioned my redirect uri while registering and created id and password, but when i click the link i get this error msg in the browser .
![2](https://user-images.githubusercontent.com/64250511/144786388-1be2611e-1e9c-4985-a934-8b944bafa247.png)

![image](https://user-images.githubusercontent.com/64250511/144786350-d72741e3-5ee2-4eca-829c-5a4f95bd1c0d.png)

What should be redirect_uri?
Im trying

[2021-12-06 05:53] #197 closed, assigned to nobody

[2021-12-06 05:53] Dskpupper commented on #197
2nd method worked,

[2021-12-06 06:27] Dskpupper opened #198 "How to upload an item to onedrive"
![image](https://user-images.githubusercontent.com/64250511/144797650-690be067-4e6a-4d89-822a-d4177b8f9632.png)
Does this mean its authenticated?
Also how do i upload an excel file to  my onedrive account using this coomand
returned_item = client.item(drive='me', id='root').children['newfile.txt'].upload('./path_to_file.txt')

"newfile.txt" is my file name and  " path_to_file" is C:\users\download

[2021-12-12 02:44] KTibow commented on #198
Welcome, adventurer. This is a forgotten land, and I am the only one who dares to help around here. However, I can't understand your question at all. What are you trying to do, what code did you use (share all of your code, with ``` formatting), and what happened instead?

[2021-12-14 23:51] Dskpupper commented on #198
I am not able to connect to local host , I tried both methods given in the repo
<img width="956" alt="image" src="https://user-images.githubusercontent.com/64250511/146097457-b5cd2705-5bec-44f6-a950-079e372950c9.png">
<img width="823" alt="image" src="https://user-images.githubusercontent.com/64250511/146097551-247dd63d-467a-4bd7-aa4c-cf2f40ea45b9.png">
i get the microsoft login web page when i cl

[2021-12-16 01:01] KTibow commented on #198
That's intentional. Did you even read the text?
"Copy everything in the address bar after "code=", and paste it below."

[2021-12-16 01:23] #198 closed, assigned to nobody

[2021-12-17 02:41] KTibow commented on #198
@Dskpupper were you able to get your code to work? I'm happy to help.

[2021-12-28 17:11] jkim8256 opened #199 "Accessing a different OneDrive account"
Hi, how can I access another OneDrive account if I allowed access for an account already? Is there a way to disconnect the current access?

[2021-12-28 18:44] KTibow commented on #199
Please elaborate as much as you can, because I can't really understand what you mean right now.

[2021-12-28 20:20] jkim8256 commented on #199
So i was able to get authentication and do things like adding a folder to my onedrive. (Everything is good) But, for example, if i want to add a folder to another onedrive account(not the one i am connected to right now) is there a way to do that?

Hopefully this makes it clearer

[2021-12-28 20:34] KTibow commented on #199
You'll need to get a different key from [Azure](https://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationsListBlade).

[2021-12-30 17:34] #199 closed, assigned to nobody

[2022-01-08 09:13] ArnaudCampestre commented on #197
Hi,
I am in the same situation as you were and cannot pass the error page about reditect_uri.
I cannot see what is the 2nd method you mentioned, would mind sharing it with me please, it would help a lot.
Thank you

[2022-01-08 15:21] KTibow commented on #197
@ArnaudCampestre try using this code instead:
[code]

[2022-01-11 09:09] ArnaudCampestre commented on #197
@KTibow Thank you very much for your help, it worked brilliantly.
Have a good one and thank you again

[2022-01-13 15:53] jkim8256 opened #200 "Onedrive for business"
Hi, while i was working with onedrive for business account to gain access and use the api, then i ran into a problem.
![20220113_104320](https://user-images.githubusercontent.com/77354951/149362495-2bdb62a0-9f9d-4008-98e0-0828157b4a10.jpg)

![20220113_104621](https://user-images.githubusercontent.com/77354951/149362513-12f4e5c4-7eb4-4eda-8f95-3b1c3699cbce.jpg)

Here are the code and traceback. I h

[2022-01-14 23:37] KTibow commented on #200
It means it couldn't connect to the Office API. Make sure you have a working internet connection and DNS.

[2022-01-15 16:30] jkim8256 commented on #200
Thank you for the reply!
However, I am very sure that I had a working internet connection when I was running the program. I am not sure what you mean by DNS though. (The link to the office API ("discovery_uri" I believe) was from the example from this GitHub readme page. Also, the "https://api.office.com" was not reachable when I tried to connect to it.)
![Capture](https://user-images.githubuserco

[2022-01-15 17:06] KTibow commented on #200
Sad news: Our beloved repo is becoming discontinued.
https://devblogs.microsoft.com/microsoft365dev/outlook-rest-api-v2-0-deprecation-notice/
It sounds like you'll have to manually work with the API using the `requests` library.

[2022-01-20 20:24] jkim8256 commented on #200
Sorry for the late reply. So does that mean I cannot use the OneDrive for business example code as it uses the outlook rest API v2.0 and thus I need to use requests library somehow(idk how to use them yet) to replace the soon-to-be-deprecated rest API?

Or does that mean this whole repository "onedrive-sdk-python" is being discontinued due to the MS rest API being discontinued soon?

I assume the

[2022-01-20 23:11] KTibow commented on #200
This library will no longer work (the code will probably stay there) for business, and possibly stop working for personal.
All the library did was talk to the API for you, and you can directly talk to the API using the `requests` library.
This [updated version](https://github.com/AtakamaLLC/onedrive-sdk-python) may/may not work.

[2022-01-26 10:16] thangld201 opened #201 "onedrive-sdk-fork, how to get client_id correctly?"
I installed onedrive-sdk-fork (after seeing that onedrive-sdk fails to work under any usecases), then tried the following code (in README):

[code]

I followed [here](https://github.com/OneDrive/onedrive-sdk-python/issues/194) to generate a client id (I don't create client secret).

Then I opened the url in the terminal and get redirected to a microsoft page, where I got the error:
[code]
My quest

[2022-01-26 10:19] thangld201 commented on #201
Seems like this question has been asked [here](https://github.com/OneDrive/onedrive-sdk-python/issues/194) (sorry that I didn't notice), so i'm closing this issue.

[2022-01-26 10:49] thangld201 commented on #201
Could you help me @KTibow ?

[2022-01-26 21:45] KTibow commented on #201
You need to modify the
[code]
part with credentials from [Azure](https://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationsListBlade) (link was old, it might not work).

[2022-01-27 09:19] thangld201 commented on #201
Thanks for the reply @KTibow. I just realize that my account is OneDrive for Business. As you answered [here](https://github.com/OneDrive/onedrive-sdk-python/issues/200), sadly, this library doesn't work for OneDrive Business anymore. Still, I appreciate your help a lot.

[2022-01-27 09:19] #201 closed, assigned to nobody

[2022-01-27 20:46] jseguelh commented on #178
i have the same problem, did you find the solution?

[2022-01-27 23:24] KTibow commented on #178
Make sure in Azure the redirect URI is correct.

[2022-04-27 20:17] #193 closed, assigned to nobody

[2022-07-05 05:09] erguntiryaki opened #202 "Mounting OneDrive to Google Colab"
Dear OneDrive SDK Team,

I am working on Google Colab and want to use my storage on OneDrive.  Mounting Google drive is very handy when working in Colab. Is it possible to mount OneDrive to Colab? Is there a code example that I can use?

To mount Google Drive:
`from google.colab import drive`
`drive.mount('/content/gdrive/)`

Any help will be greatly appreciated. Thank you so much.

[2022-07-05 13:50] KTibow commented on #202
The bad news is that the people you speak of basically no longer exist. This is a dead repo. However, you could probably figure out how to download or upload data with this library; make sure you have something like VS Code's Intellisense to autocomplete and show you docstrings. As far as I know, you can't "mount" Onedrive. If you need me to elaborate, let me know.

[2022-07-06 06:35] erguntiryaki commented on #202
Hello @KTibow,  thank you so much for the kind reply. I will try to figure it out as you suggest.

Cheers,

[2022-07-21 02:52] RasyidMF commented on #195
Follow my code example :

[code]

[2022-07-21 02:53] RasyidMF commented on #182
Same problem, but my solution is this command
[code]

[2022-08-03 07:52] yyqi17 commented on #200
Hi, have you solved this problem connecting to OneDrive for business?

[2022-08-03 16:24] KTibow commented on #200
This SDK is abandoned.

[2022-11-07 05:01] aissak21 commented on #202
HI @erguntiryaki Same query here. Have you gotten anything that works?